interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//resolver/2020ApJ...902L..36F/esource
  response:
    body:
      string: '{"service": "", "action": "display", "links": {"count": 4, "bibcode":
        "2020ApJ...902L..36F", "link_type": "ESOURCE", "records": [{"title": "https://arxiv.org/abs/2006.06678",
        "url": "https://arxiv.org/abs/2006.06678", "link_type": "ESOURCE|EPRINT_HTML"},
        {"title": "https://arxiv.org/pdf/2006.06678", "url": "https://arxiv.org/pdf/2006.06678",
        "link_type": "ESOURCE|EPRINT_PDF"}, {"title": "https://doi.org/10.3847%2F2041-8213%2Fabbadd",
        "url": "https://doi.org/10.3847%2F2041-8213%2Fabbadd", "link_type": "ESOURCE|PUB_HTML"},
        {"title": "http://iopscience.iop.org/article/10.3847/2041-8213/abbadd/pdf",
        "url": "http://iopscience.iop.org/article/10.3847/2041-8213/abbadd/pdf", "link_type":
        "ESOURCE|PUB_PDF"}]}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '84076'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4932'
      X-RateLimit-Reset:
      - '1648393384'
    status:
      code: 200
      message: OK
version: 1
