interactions:
- request:
    body: '{"bibcodes": ["2019ApJ...887...53F", "2020ApJ...902L..36F"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//citation_helper
  response:
    body:
      string: '[{"bibcode": "2020ApJ...897..100V", "score": 3, "title": "Polluting
        the Pair-instability Mass Gap for Binary Black Holes through Super-Eddington
        Accretion in Isolated Binaries", "author": "van Son, L. A. C. et al."}, {"bibcode":
        "1964ApJS....9..201F", "score": 2, "title": "Neutrino Processes and Pair Formation
        in Massive Stars and Supernovae.", "author": "Fowler, William A. et al."},
        {"bibcode": "1967ApJ...148..803R", "score": 2, "title": "Instabilities in
        Highly Evolved Stellar Models", "author": "Rakavy, G. et al."}, {"bibcode":
        "1967PhRvL..18..379B", "score": 2, "title": "Dynamics of Supernova Explosion
        Resulting from Pair Forma[...]
