interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//search/query?q=citations%282021ApJ...923..214F%29&fl=abstract%2Cauthor%2Cbibcode%2Cpubdate%2Ctitle%2Cpub%2Cyear%2Ccitation_count&fq=&start=0&rows=50
  response:
    body:
      string: "{\n  \"responseHeader\":{\n    \"status\":0,\n    \"QTime\":45,\n    \"params\":{\n
        \     \"q\":\"citations(2021ApJ...923..214F)\",\n      \"fl\":\"abstract,author,bibcode,pubdate,title,pub,year,citation_count\",\n
        \     \"start\":\"0\",\n      \"internal_logging_params\":\"X-Amzn-Trace-Id=Root=1-63833fbb-18868c3f69d5aa7e2a063964\",\n
        \     \"fq\":\"\",\n      \"rows\":\"50\",\n      \"wt\":\"json\"}},\n  \"response\":{\"numFound\":6,\"start\":0,\"docs\":[\n
        \     {\n        \"bibcode\":\"2022A&ARv..30....7R\",\n        \"abstract\":\"After
        hydrogen and helium, oxygen, carbon, and nitrogen\u2014hereinafter, the CNO
        elements\u2014are the most abundant species in the universe. They are observed
        in all kinds of astrophysical environments, from the smallest to the largest
        scales, and are at the basis of all known forms of life, hence, the constituents
        of any biomarker. As such, their study proves crucial in several areas of
        contemporary astrophysics, extending to astrobiology. In [...]
