interactions:
- request:
    body: '{"q": ["author:\"huchra, john\""], "rows": [1], "sort": ["date desc, bibcode
      desc"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//vis/word-cloud
  response:
    body:
      string: '{"available": {"idf": 0.17609125905568124, "record_count": 1, "total_occurrences":
        1}, "tully": {"idf": 0.17609125905568124, "record_count": 1, "total_occurrences":
        1}, "bands": {"idf": 0.17609125905568124, "record_count": 1, "total_occurrences":
        1}, "erratum": {"idf": 0.12493873660829992, "record_count": 2, "total_occurrences":
        1}, "sky": {"idf": 0.17609125905568124, "record_count": 1, "total_occurrences":
        1}, "discover": {"idf": 0.17609125905568124, "record_count": 1, "total_occurrences":
        1}, "not": {"idf": 0.17609125905568124, "record_count": 1, "total_occurrences":
        1}, "fisher": {"idf": 0.17609125905568124, "record_count": 1, "total_occurrences":
        1}, "survey": {"idf": 0.17609125905568124, "record_count": 1, "total_occurrences":
        1}, "result": {"idf": 0.17609125905568124, "record_count": 1, "total_occurrences":
        1}, "error": {"idf": 0.17609125905568124, "record_count": 1, "total_occurrences":
        1}, "need": {"idf": 0.17609125905568124, "record_count": 1, "total_occurrences":
        1}, "relation": {"idf": 0.17609125905568124, "record_count": 1, "total_occurrences":
        1}, "pass": {"idf": 0.17609125905568124, "record_count": 1, "total_occurrences":
        1}, "huchra": {"idf": 0.17609125905568124, "record_count": 1, "total_occurrences":
        1}, "micron": {"idf": 0.17609125905568124, "record_count": 1, "total_occurrences":
        1}}

        '
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '81081'
      X-RateLimit-Limit:
      - '1000'
      X-RateLimit-Remaining:
      - '989'
      X-RateLimit-Reset:
      - '1659565366'
    status:
      code: 200
      message: OK
version: 1
