interactions:
- request:
    body: '{"source": "SIMBAD", "identifiers": ["1575544"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//objects
  response:
    body:
      string: '{"1575544": {"canonical": "M  31", "id": "1575544"}}

        '
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '1912'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4736'
      X-RateLimit-Reset:
      - '1642957735'
    status:
      code: 200
      message: OK
version: 1
