interactions:
- request:
    body: '{"bibcode": ["2020ApJ...902L..36F"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//export/votable
  response:
    body:
      string: '{"msg": "Retrieved 1 abstracts, starting with number 1.", "export":
        "<?xml version=''1.0'' encoding=''utf8''?>\n<!DOCTYPE VOTABLE SYSTEM \"http://cdsweb.u-strasbg.fr/xml/VOTable.dtd\"
        >\n<VOTABLE version=\"1.1\">\n<DESCRIPTION>\n   Results generated from the
        NASA Astrophysics Data System: https://ui.adsabs.harvard.edu\n   For more
        information and support please contact ads@cfa.harvard.edu\n</DESCRIPTION>\n<RESOURCE
        type=\"results\">\n<TABLE>\n<DESCRIPTION>\n   ADS Search Results.\n   Selected
        and retrieved 1 records.\n</DESCRIPTION>\n<FIELD ID=\"bibcode\" datatype=\"char\"
        arraysize=\"19\">\n<DESCRIPTION>The bibcode identifier for the record</DESCRIPTION>\n</FIELD>\n<FIELD
        ID=\"title\" datatype=\"char\" arraysize=\"*\">\n<DESCRIPTION>Title of the
        paper</DESCRIPTION>\n</FIELD>\n<FIELD ID=\"creator\" datatype=\"char\" arraysize=\"*\">\n<DESCRIPTION>List
        of authors</DESCRIPTION>\n</FIELD>\n<FIELD ID=\"source\" datatype=\"char\"
        arraysize=\"*\">\n<DESCRIPTION>Publication infromation</DESCRIPTION>\n</FIELD>\n<FIELD
        ID=\"date\" datatype=\"char\" arraysize=\"10\">\n<DESCRIPTION>Publication
        Date</DESCRIPTION>\n</FIELD>\n<FIELD ID=\"url\" datatype=\"char\" arraysize=\"*\">\n<DESCRIPTION>Resource
        URL</DESCRIPTION>\n</FIELD>\n<DATA>\n<TABLEDATA>\n<TR>\n<TD>2020ApJ...902L..36F</TD>\n<TD>Constraints
        from Gravitational-wave Detections of Binary Black Hole Mergers on the &lt;SUP&gt;12&lt;/SUP&gt;C(\u03b1,
        \u03b3)&lt;SUP&gt;16&lt;/SUP&gt;O Rate</TD>\n<TD>Farmer, R.; Renzo, M.; de
        Mink, S. E.; Fishbach, M.; Justham, S.</TD>\n<TD>The Astrophysical Journal
        Letters, Volume 902, Issue 2, id.L36, 14 pp.</TD>\n<TD>2020-10-1</TD>\n<TD>https://ui.adsabs.harvard.edu/abs/2020ApJ...902L..36F</TD>\n</TR>\n\n</TABLEDATA>\n</DATA>\n</TABLE>\n</RESOURCE>\n</VOTABLE>"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '72883'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4868'
      X-RateLimit-Reset:
      - '1669456398'
    status:
      code: 200
      message: OK
version: 1
