interactions:
- request:
    body: '{"type": "template", "name": "test", "active": true, "stateful": true,
      "frequency": "daily", "classes": ["astro-ph"], "template": "arxiv"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//vault/notifications
  response:
    body:
      string: '{"id": 10866, "name": "Recent Papers", "qid": null, "type": "template",
        "active": true, "stateful": false, "frequency": "daily", "template": "arxiv",
        "classes": ["astro-ph"], "data": null, "created": "2023-01-17T14:17:55.317237+00:00",
        "updated": "2023-01-17T14:17:55.317250+00:00"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//vault/notifications/10866
  response:
    body:
      string: '[{"id": 10866, "name": "Recent Papers", "qid": null, "type": "template",
        "active": true, "stateful": false, "frequency": "daily", "template": "arxiv",
        "classes": ["astro-ph"], "data": null, "created": "2023-01-17T14:17:55.317237+00:00",
        "updated": "2023-01-17T14:17:55.317250+00:00"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: DELETE
    uri: https://api.adsabs.harvard.edu/v1//vault/notifications/10866
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: NO CONTENT
version: 1
