interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//search/query/?q=bibcode:2021ApJ...923..214F&fl=abstract,author,bibcode,pubdate,title,pub,year,citation_count,reference&fq=&start=0&rows=1
  response:
    body:
      string: "{\n  \"responseHeader\":{\n    \"status\":0,\n    \"QTime\":1,\n    \"params\":{\n
        \     \"q\":\"bibcode:2021ApJ...923..214F\",\n      \"fl\":\"abstract,author,bibcode,pubdate,title,pub,year,citation_count,reference\",\n
        \     \"start\":\"0\",\n      \"internal_logging_params\":\"X-Amzn-Trace-Id=Root=1-62f01aad-287a9df82a28bc045c62aacd\",\n
        \     \"fq\":\"\",\n      \"rows\":\"1\",\n      \"wt\":\"json\"}},\n  \"response\":{\"numFound\":1,\"start\":0,\"docs\":[\n
        \     {\n        \"bibcode\":\"2021ApJ...923..214F\",\n        \"abstract\":\"The
        cosmic origin of carbon, a fundamental building block of life, is still uncertain.
        Yield predictions for massive stars are almost exclusively based on single-star
        models, even though a large fraction interact with a binary companion. Using
        the MESA stellar evolution code, we predict the amount of carbon ejected in
        the winds and supernovae of single and binary-stripped stars at solar metallicity.
        We find that binary-stripped stars are twice as[...]
