interactions:
- request:
    body: '{"bibcode": ["2020ApJ...902L..36F", "2020zndo...3678482F"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//export/ieee
  response:
    body:
      string: '{"msg": "Retrieved 2 abstracts, starting with number 1.", "export":
        "[1]Farmer, R., Renzo, M., de Mink, S. E., Fishbach, M., and Justham, S.,
        \u201cConstraints from Gravitational-wave Detections of Binary Black Hole
        Mergers on the <SUP>12</SUP>C(\u03b1, \u03b3)<SUP>16</SUP>O Rate\u201d, <i>The
        Astrophysical Journal</i>, vol. 902, no. 2, 2020. doi:10.3847/2041-8213/abbadd.\n[2]Farmer,
        R., \u201crjfarmer/mesaplot: Bug fixes\u201d, <i>Zenodo</i>, Zenodo, 2020.\n"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '85358'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4795'
      X-RateLimit-Reset:
      - '1674050361'
    status:
      code: 200
      message: OK
version: 1
