interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//resolver/2019ApJ...887...53F
  response:
    body:
      string: '{"service": "", "action": "display", "links": {"count": 17, "link_type":
        "all", "records": [{"bibcode": "2019ApJ...887...53F", "title": "ABSTRACT (1)",
        "url": "/link_gateway/2019ApJ...887...53F/ABSTRACT", "type": "abstract", "count":
        1}, {"bibcode": "2019ApJ...887...53F", "title": "CITATIONS (1)", "url": "/link_gateway/2019ApJ...887...53F/CITATIONS",
        "type": "citations", "count": 1}, {"bibcode": "2019ApJ...887...53F", "title":
        "REFERENCES (1)", "url": "/link_gateway/2019ApJ...887...53F/REFERENCES", "type":
        "references", "count": 1}, {"bibcode": "2019ApJ...887...53F", "title": "COREADS
        (1)", "url": "/link_gateway/2019ApJ...887...53F/COREADS", "type": "coreads",
   [...]
