interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//search/query?q=identifier%3A2018araa.book.....P&fl=abstract%2Cauthor%2Cbibcode%2Cpubdate%2Ctitle%2Cpub%2Cyear%2Ccitation_count&fq=&start=0&rows=1
  response:
    body:
      string: "{\n  \"responseHeader\":{\n    \"status\":0,\n    \"QTime\":1,\n    \"params\":{\n
        \     \"q\":\"identifier:2018araa.book.....P\",\n      \"fl\":\"abstract,author,bibcode,pubdate,title,pub,year,citation_count\",\n
        \     \"start\":\"0\",\n      \"internal_logging_params\":\"X-Amzn-Trace-Id=Root=1-6383403a-7d9e246773f87f163acfe8e1\",\n
        \     \"fq\":\"\",\n      \"rows\":\"1\",\n      \"wt\":\"json\"}},\n  \"response\":{\"numFound\":1,\"start\":0,\"docs\":[\n
        \     {\n        \"bibcode\":\"2018araa.book.....P\",\n        \"abstract\":\"Computational
        astrophysics is a new and quickly growing discipline. In this book the authors
        outline the fundamentals for computational astrophysics, focusing on the use
        of the Astronomical Multipurpose Software Environment (AMUSE), which is a
        general-purpose simulation environment in astrophysics written in Python.
        AMUSE allows you to combine existing solvers to build new applications that
        can be combined again to study gradually more complex situations. This enables
        the growth of multi-physics and multi-scale application software in a hierarchical
        fashion, testing each intermediate step as the complexity of the software
        continues to increase. All examples in the book are associated with codes
        that run on a simple laptop or workstation. All figures are reproducible with
        a simple script, and all scripts are available online to be downloaded and
        run accordingly.\",\n        \"author\":[\"Portegies Zwart, Simon\",\n          \"McMillan,
        Steve\"],\n        \"pub\":\"Astrophysical Recipes; The art of AMUSE\",\n
        \       \"pubdate\":\"2018-12-00\",\n        \"title\":[\"Astrophysical Recipes;
        The art of AMUSE\"],\n        \"year\":\"2018\",\n        \"citation_count\":52}]\n
        \ }}\n"
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '83712'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4732'
      X-RateLimit-Reset:
      - '1669629755'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//search/query?q=references%282018araa.book.....P%29&fl=abstract%2Cauthor%2Cbibcode%2Cpubdate%2Ctitle%2Cpub%2Cyear%2Ccitation_count&fq=&start=0&rows=50
  response:
    body:
      string: "{\n  \"responseHeader\":{\n    \"status\":0,\n    \"QTime\":48,\n    \"params\":{\n
        \     \"q\":\"references(2018araa.book.....P)\",\n      \"fl\":\"abstract,author,bibcod[...]
[...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//search/query?q=references%282018araa.book.....P%29&fl=abstract%2Cauthor%2Cbibcode%2Cpubdate%2Ctitle%2Cpub%2Cyear%2Ccitation_count&fq=&start=745&rows=50
  response:
    body:
      string: "{\n  \"responseHeader\":{\n    \"status\":0,\n    \"QTime\":71,\n    \"params\":{\n
        \     \"q\":\"references(2018araa.book.....P)\",\n      \"fl\":\"abstract,author,bibcode,pubdate,title,pub,year,citation_count\",\n
        \     \"start\":\"745\",\n      \"internal_logging_params\":\"X-Amzn-Trace-Id=Root=1-6383403f-047a86cb7ef0611d6d740604\",\n
        \     \"fq\":\"\",\n      \"rows\":\"50\",\n      \"wt\":\"json\"}},\n  \"response\":{\"numFound\":2895,\"start\":745,\"docs\":[\n
        \     {\n        \"bibcode\":\"2020A&A...634A..75B\",\n        \"abstract\":\"Context.
        New photometric space missions to detect and characterise transiting exoplanets
        are focusing on bright stars to obtain high cadence, high signal-to-noise
        light curves. Since these missions will be sensitive to stellar oscillations
        and granulation even for dwarf stars, they will be limited by stellar variability.
        Therefore, it is crucial and timely to develop robust methods to account for
        and correct for stellar variability. <BR /> Aims: We tested the performance
        of Gaussian process (GP) regression on the characterisation of transiting
        planets, and in particular to determine how many components of variability
        are necessary to describe high cadence, high signal-to-noise light curves
        expected from CHEOPS and PLATO. To achieve this, we selected a sample of bright
        stars observed in the asteroseismology field of CoRoT at high cadence (32
        s) and high signal-to-noise ratio (S/N).[...]
[...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//search/query?q=identifier%3A2013A%26A...557A..84P&fl=abstract%2Cauthor%2Cbibcode%2Cpubdate%2Ctitle%2Cpub%2Cyear%2Ccitation_count&fq=&start=0&rows=1
  response:
    body:
      string: "{\n  \"responseHeader\":{\n    \"status\":0,\n    \"QTime\":1,\n    \"params\":{\n
        \     \"q\":\"identifier:2013A&A...557A..84P\",\n      \"fl\":\"abstract,author,bibcode,pu[...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//search/query?q=references%282013A%26A...557A..84P%29&fl=abstract%2Cauthor%2Cbibcode%2Cpubdate%2Ctitle%2Cpub%2Cyear%2Ccitation_count&fq=&start=0&rows=50
  response:
    body:
      string: "{\n  \"responseHeader\":{\n    \"status\":0,\n    \"QTime\":119,\n
        \   \"params\":{\n      \"q\":\"references(2013A&A...557A..84P)\",\n      \"fl\":\"abstract,author,bib[...]
