interactions:
- request:
    body: '{"bibcodes": ["2020ApJ...902L..36F", "2020zndo...3678482F"], "types": ["indicators"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//metrics
  response:
    body:
      string: '{"skipped bibcodes": [], "indicators": {"h": 2, "g": 2, "i10": 1, "i100":
        1, "m": 0.5, "read10": 34.35294117647059, "tori": 0.31054459788000005, "riq":
        557}, "indicators refereed": {"h": 1, "g": 1, "i10": 1, "i100": 1, "m": 0.25,
        "read10": 34.35294117647059, "tori": 0.27355368688000004, "riq": 523}}

        '
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '86395'
      X-RateLimit-Limit:
      - '1000'
      X-RateLimit-Remaining:
      - '993'
      X-RateLimit-Reset:
      - '1674051436'
    status:
      code: 200
      message: OK
version: 1
