interactions:
- request:
    body: '{"function": "trending", "sort": "first_author", "num_docs": 10, "top_n_reads":
      50, "cutoff_days": 7}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//oracle/readhist
  response:
    body:
      string: '{"error": "no result from solr with status code=200", "query": "(trending(topn(50,
        reader:1b32642e059f2451, first_author desc)) entdate:[NOW-7DAYS TO *])"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '85444'
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Remaining:
      - '89'
      X-RateLimit-Reset:
      - '1669631352'
    status:
      code: 404
      message: NOT FOUND
version: 1
