interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//search/query/?q=%5Efarmer,r%20year:2020&fl=page,volume&fq=&start=0
  response:
    body:
      string: "{\n  \"responseHeader\":{\n    \"status\":0,\n    \"QTime\":9,\n    \"params\":{\n
        \     \"q\":\"^farmer,r year:2020\",\n      \"fl\":\"page,volume\",\n      \"start\":\"0\",\n
        \     \"internal_logging_params\":\"X-Amzn-Trace-Id=Root=1-623f341c-35bd0c5e26ee560c473c0489\",\n
        \     \"fq\":\"\",\n      \"rows\":\"10\",\n      \"wt\":\"json\"}},\n  \"response\":{\"numFound\":2,\"start\":0,\"docs\":[\n
        \     {\n        \"page\":[\"L36\"],\n        \"volume\":\"902\"},\n      {}]\n
        \ }}\n"
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '84107'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4960'
      X-RateLimit-Reset:
      - '1648393384'
    status:
      code: 200
      message: OK
version: 1
