interactions:
- request:
    body: '{"bibcode": ["2020ApJ...902L..36F"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//author-affiliation/search
  response:
    body:
      string: '{"data": [{"authorName": "Farmer, R.", "affiliations": {"name": "University
        of Amsterdam, Anton Pannekoek Institute for Astronomy; Harvard Smithsonian
        Center for Astrophysics", "years": ["2020"], "lastActiveDate": "2020/10/01"}},
        {"authorName": "Fishbach, M.", "affiliations": {"name": "University of Chicago,
        Department of Astronomy and Astrophysics", "years": ["2020"], "lastActiveDate":
        "2020/10/01"}}, {"authorName": "Justham, S.", "affiliations": {"name": "University
        of Amsterdam, Anton Pannekoek Institute for Astronomy; University of the Chinese
        Academy of Sciences, Beijing; CAS, National Astronomical Observatories", "years":
        ["2020"], "lastActiveDate": "2020/10/01"}}, {"authorName": "Renzo, M.", "affiliations":
        {"name": "Center for Computational Astrophysics, Flatiron Institute, New York",
        "years": ["2020"], "lastActiveDate": "2020/10/01"}}, {"authorName": "de Mink,
        S. E.", "affiliations": {"name": "University of Amsterdam, Anton Pannekoek
        Institute for Astronomy; Harvard Smithsonian Center for Astrophysics", "years":
        ["2020"], "lastActiveDate": "2020/10/01"}}]}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '85414'
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Remaining:
      - '93'
      X-RateLimit-Reset:
      - '1669631304'
    status:
      code: 200
      message: OK
version: 1
