interactions:
- request:
    body: '{"bibcodes": ["2020ApJ...902L..36F", "2019ApJ...887...53F"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//vis/author-network
  response:
    body:
      string: '{"msg": {"start": 0, "rows": 2, "numFound": 2}, "data": {"fullGraph":
        {"nodes": [{"nodeName": "Farmer, R", "nodeWeight": 150.0}, {"nodeName": "Renzo,
        M", "nodeWeight": 150.0}, {"nodeName": "Justham, S", "nodeWeight": 150.0},
        {"nodeName": "Marchant, P", "nodeWeight": 5.0}, {"nodeName": "de Mink, S",
        "nodeWeight": 150.0}, {"nodeName": "Fishbach, M", "nodeWeight": 5.0}], "links":
        [{"source": 0, "target": 4, "value": 40.00000000000003}, {"source": 5, "target":
        1, "value": 1.0000000000000284}, {"source": 0, "target": 1, "value": 40.00000000000003},
        {"source": 2, "target": 3, "value": 1.0000000000000284}, {"source": 2, "target":
        4, "value": 40.00000000000003}, {"source": 0, "target": 5, "value": 1.0000000000000284},
        {"source": 1, "target": 4, "value": 40.00000000000003}, {"source": 5, "target":
        4, "value": 1.0000000000000284}, {"source": 0, "target": 3, "value": 1.0000000000000284},
        {"source": 3, "target": 1, "value": 1.0000000000000284}, {"source": 0, "target":
        2, "value": 40.00000000000003}, {"source": 5, "target": 2, "value": 1.0000000000000284},
        {"source": 2, "target": 1, "value": 40.00000000000003}, {"source": 3, "target":
        4, "value": 1.0000000000000284}]}}}

        '
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '84104'
      X-RateLimit-Limit:
      - '1000'
      X-RateLimit-Remaining:
      - '987'
      X-RateLimit-Reset:
      - '1648393413'
    status:
      code: 200
      message: OK
version: 1
