interactions:
- request:
    body: '{"bibcode": ["2020ApJ...902L..36F", "2020zndo...3678482F"], "style": "aastex",
      "format": 3, "journalformat": 1, "sort": "first_author desc"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//export/csl
  response:
    body:
      string: '{"msg": "Retrieved 2 abstracts, starting with number 1.", "export":
        "\\bibitem[Farmer(2020)]{2020zndo...3678482F} Farmer, R.\\ 2020, Zenodo\n\\bibitem[Farmer
        et al.(2020)]{2020ApJ...902L..36F} Farmer, R., Renzo, M., de Mink, S.~E.,
        et al.\\ 2020, \\apjl, 902, L36. doi:10.3847/2041-8213/abbadd\n"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '83891'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4977'
      X-RateLimit-Reset:
      - '1661097619'
    status:
      code: 200
      message: OK
version: 1
