interactions:
- request:
    body: '{"bibcode": ["2019ApJ...887...53F", "2020ApJ...902L..36F"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//author-affiliation/search
  response:
    body:
      string: '{"data": [{"authorName": "Farmer, R.", "affiliations": {"name": "University
        of Amsterdam, Anton Pannekoek Institute for Astronomy; Harvard Smithsonian
        Center for Astrophysics", "years": ["2020"], "lastActiveDate": "2020/10/01"}},
        {"authorName": "Farmer, R.", "affiliations": {"name": "University of Amsterdam,
        Anton Pannekoek Institute for Astronomy", "years": ["2019"], "lastActiveDate":
        "2019/12/01"}}, {"authorName": "Fishbach, M.", "affiliations": {"name": "University
        of Chicago, Department of Astronomy and Astrophysics", "years": ["2020"],
        "lastActiveDate": "2020/10/01"}}, {"authorName": "Justham, S.", "affiliations":
        {"name": "University of Amsterdam, Ant[...]
