interactions:
- request:
    body: '{"reference": ["farmer,r et al 2020"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//reference/text
  response:
    body:
      string: '{"resolved": [{"refstring": "farmer,r et al 2020", "score": "0.0",
        "bibcode": "..................."}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF8
      Retry-After:
      - '84908'
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Remaining:
      - '84'
      X-RateLimit-Reset:
      - '1658938408'
    status:
      code: 200
      message: OK
version: 1
