interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//resolver/2020ApJ...902L..36F/references
  response:
    body:
      string: '{"service": "/abs/2020ApJ...902L..36F/references", "action": "redirect",
        "link": "/abs/2020ApJ...902L..36F/references", "link_type": "REFERENCES"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '85299'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4764'
      X-RateLimit-Reset:
      - '1674050362'
    status:
      code: 200
      message: OK
version: 1
