interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//search/query?q=citations%282015arXiv151102820P%29&fl=abstract%2Cauthor%2Cbibcode%2Cpubdate%2Ctitle%2Cpub%2Cyear%2Ccitation_count&fq=&start=0&rows=50
  response:
    body:
      string: "{\n  \"responseHeader\":{\n    \"status\":0,\n    \"QTime\":26,\n    \"params\":{\n
        \     \"q\":\"citations(2015arXiv151102820P)\",\n      \"fl\":\"abstract,author,bibcode,pubdate,title,pub,year,citation_count\",\n
        \     \"start\":\"0\",\n      \"internal_logging_params\":\"X-Amzn-Trace-Id=Root=1-63c6ae3e-4a81deff5efa39ce73f73202\",\n
        \     \"fq\":\"\",\n      \"rows\":\"50\",\n      \"wt\":\"json\"}},\n  \"response\":{\"numFound\":6,\"start\":0,\"docs\":[\n
        \     {\n        \"bibcode\":\"2016MNRAS.461.3296N\",\n        \"abstract\":\"The
        next Galactic supernova is expected to bring great opportunities for the direct
        detection of gravitational waves (GW), full flavour neutrinos, and multiwavelength
        photons. To maximize the science return from such a rare event, it is essential
        to have established classes of possible situations and preparations for appropriate
        observations. To this end, we use a long-term numerical simulation of the
        core-collapse supernova (CCSN) of a 17 M<SUB>\u2299</SUB> red supergiant progenitor
        to self-consistently model the multimessenger signals expected in GW, neutrino,
        and electromagnetic messengers. This supernova model takes into account the
        formation and evolution of a protoneutron star, neutrino-matter interaction,
        and neutrino transport, all within a two-dimensional shock hydrodynamics simulation.
        With this, we separately discuss three situations: (I) a CCSN at the Galactic
        Center, (II) an extremely nearby CCSN within hundreds of parsecs, and (III)
        a CCSN in nearby galaxies within several Mpc. These distance regimes necessitate
        different strategies for synergistic observations. In a Galactic CCSN, neutrinos
        provide strategic timing and pointing information. We explore how these in
        turn deliver an improvement in the sensitivity of GW analyses and help to
        guarantee observations of early electromagnetic signals. To facilitate the
        detection of multimessenger signals of CCSNe in extremely nearby and extragalactic
        distances, we compile a list of nearby red supergiant candidates and a list
        of nearby galaxies with their expected CCSN rates. By exploring the sequential
        multimessenger signals of a nearby CCSN, we discuss preparations for maximizing
        successful studies of such an unprecedented stirring event.\",\n        \"author\":[\"Nakamura,
        Ko\",\n          \"Horiuchi, Shunsaku\",\n          \"Tanaka, Masaomi\",\n
        \         \"Hayama, Kazuhiro\",\n          \"Takiwaki, Tomoya\",\n          \"Kotake,
        Kei\"],\n        \"pub\":\"Monthly Notices of the Royal Astronomical Society\",\n
        \       \"pubdate\":\"2016-09-00\",\n        \"title\":[\"Multimessenger signals
        of long-term core-collapse supernova simulations: synergetic observation strategies\"],\n
        \       \"year\":\"2016\",\n        \"citation_count\":89},\n      {\n        \"bibcode\":\"2017ApJ...848...48K\",\n
        \       \"abstract\":\"This paper is a sequel to our 2015 paper, Kato et al.,
        which calculated the luminosities and spectra of electron-type anti-neutrinos
        ({\\\\bar{\u03BD }}<SUB>e</SUB>) from the progenitors of core-collapse supernovae.
        Expecting that the capability to detect electron-type neutrinos ({\u03BD }<SUB>e</SUB>)
        will increase dramatically with the emergence of liquid-argon detectors such
        as DUNE, we broaden the scope in this study to include all flavors of neutrinos
        emitted from the pre-bounce phase. We pick up three progenitor models of electron
        capture supernovae (ECSNe) and iron-core collapse supernovae (FeCCSNe). We
        find that the number luminosities reach \u223C10<SUP>57</SUP> s<SUP>-1</SUP>
        and \u223C10<SUP>53</SUP> s<SUP>-1 </SUP>at maximum for {\u03BD }<SUB>e</SUB>
        and {\\\\bar{\u03BD }}<SUB>e</SUB>, respectively. We also estimate the numbers
        of detection events at terrestrial neutrino detectors including DUNE, taking
        flavor oscillations into account and assuming the distance to the progenitors
        to be 200 pc. It is demonstrated that {\\\\bar{\u03BD }}<SUB>e</SUB> from
        the ECSN progenitor will be undetected at [...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//search/query?q=citations%282017zndo....846305F%29&fl=abstract%2Cauthor%2Cbibcode%2Cpubdate%2Ctitle%2Cpub%2Cyear%2Ccitation_count&fq=&start=0&rows=50
  response:
    body:
      string: "{\n  \"responseHeader\":{\n    \"status\":0,\n    \"QTime\":29,\n    \"params\":{\n
        \     \"q\":\"citations(2017zndo....846305F)\",\n      \"fl\":\"abstract,author,bibcode,[...]
