interactions:
- request:
    body: '{"name": "JV9I86VUAP"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//biblib/libraries
  response:
    body:
      string: '{"name": "JV9I86VUAP", "id": "5MUH2e9WRgSpz0p1yfKtfQ", "description":
        "My ADS library"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"action": "add", "bibcode": ["2021ApJ...923..214F"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//biblib/documents/5MUH2e9WRgSpz0p1yfKtfQ
  response:
    body:
      string: '{"number_added": 1}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//biblib/libraries/5MUH2e9WRgSpz0p1yfKtfQ/?start=0
  response:
    body:
      string: '{"documents": ["2021ApJ...923..214F"], "solr": {"responseHeader": {"status":
        0, "QTime": 29, "params": {"q": "*:*", "fl": "bibcode,alternate_bibcode",
        "start": "0", "internal_logging_params": "X-Amzn-Trace-Id=Root=1-6380c82d-10c9a687409da4eb30be5c4c",
        "fq": "{!bitset}", "sort": "date desc", "rows": "20", "wt": "json"}}, "response":
        {"numFound": 1, "start": 0, "docs": [{"bibcode": "2021ApJ...923..214F", "alternate_bibcode":
        ["2021arXiv211004131F"]}]}}, "metadata": {"name": "JV9I86VUAP", "id": "5MUH2e9WRgSpz0p1yfKtfQ",
        "description": "My ADS library", "num_documents": 1, "date_created": "2022-11-25T13:50:36.010503",
        "date_last_modified": "2022-11-25T13:50:36.560689", "permission": "owner",
        "public": false, "num_users": 1, "owner": "robert.j.farmer37"}, "updates":
        {"num_updated": 0, "duplicates_removed": 0, "update_list": []}}

        '
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '72161'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4802'
      X-RateLimit-Reset:
      - '1669456399'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: DELETE
    uri: https://api.adsabs.harvard.edu/v1//biblib/documents/5MUH2e9WRgSpz0p1yfKtfQ
  response:
    body:
      string: '{}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
