interactions:
- request:
    body: '{"name": "J8O0OPGS08_2"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//biblib/libraries
  response:
    body:
      string: '{"name": "J8O0OPGS08_2", "id": "XUj58USqRhGqKqn6JdTNaQ", "description":
        "My ADS library"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//biblib/libraries/XUj58USqRhGqKqn6JdTNaQ/?start=0
  response:
    body:
      string: '{"documents": [], "solr": {"responseHeader": {"status": 0, "QTime":
        0, "params": {"q": "*:*", "fl": "bibcode,alternate_bibcode", "start": "0",
        "internal_logging_params": "X-Amzn-Trace-Id=Root=1-63c6aff6-55ee6cfc45e4e7900903f141",
        "fq": "{!bitset}", "sort": "date desc", "rows": "20", "wt": "json"}}, "response":
        {"numFound": 0, "start": 0, "docs": []}}, "metadata": {"name": "J8O0OPGS08_2",
        "id": "XUj58USqRhGqKqn6JdTNaQ", "description": "My ADS library", "num_documents":
        0, "date_created": "2023-01-17T14:25:58.161108", "date_last_modified": "2023-01-17T14:25:58.161114",
        "permission": "owner", "public": false, "num_users": 1, "owner": "robert.j.farmer37"},
        "updates": {"num_updated": 0, "duplicates_removed": 0, "update_list": []}}

        '
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '84799'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4708'
      X-RateLimit-Reset:
      - '1674050362'
    status:
      code: 200
      message: OK
- request:
    body: '{"action": "add", "bibcode": ["2021ApJ...923..214F"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//biblib/documents/XUj58USqRhGqKqn6JdTNaQ
  response:
    body:
      string: '{"number_added": 1}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//biblib/libraries/XUj58USqRhGqKqn6JdTNaQ/?start=0
  response:
    body:
      string: '{"documents": ["2021ApJ...923..214F"], "solr": {"responseHeader": {"status":
        0, "QTime": 2, "params": {"q": "*:*", "fl": "bibcode,alternate_bibcode", "start":
        "0", "internal_logging_params": "X-Amzn-Trace-Id=Root=1-63c6affb-3b55ccb11f9a88df5cfa8e3e",
        "fq": "{!bitset}", "sort": "date desc", "rows": "20", "wt": "json"}}, "response":
        {"numFound": 1, "start": 0, "docs": [{"bibcode": "2021ApJ...923..214F", "alternate_bibcode":
        ["2021arXiv211004131F"]}]}}, "metadata": {"name": "J8O0OPGS08_2", "id": "XUj58USqRhGqKqn6JdTNaQ",
        "description": "My ADS library", "num_documents": 1, "date_created": "2023-01-17T14:25:58.161108",
        "date_last_modified": "2023-01-17T14:26:02.747541", "permission": "owner",
        "public": false, "num_users": 1, "owner": "robert.j.farmer37"}, "updates":
        {"num_updated": 0, "duplicates_removed": 0, "update_list": []}}

        '
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '84797'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4707'
      X-RateLimit-Reset:
      - '1674050361'
    status:
      code: 200
      message: OK
- request:
    body: '{"action": "remove", "bibcode": ["2021ApJ...923..214F"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//biblib/documents/XUj58USqRhGqKqn6JdTNaQ
  response:
    body:
      string: '{"number_removed": 1}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: DELETE
    uri: https://api.adsabs.harvard.edu/v1//biblib/documents/XUj58USqRhGqKqn6JdTNaQ
  response:
    body:
      string: '{}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
