interactions:
- request:
    body: '{"bibcodes": ["2020ApJ...902L..36F", "2020zndo...3678482F"], "types": ["timeseries"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//metrics
  response:
    body:
      string: '{"skipped bibcodes": ["2020zndo...3678482F"], "time series": {"i10":
        {"2020": 1, "2021": 1, "2022": 1}, "i100": {"2020": 0, "2021": 0, "2022":
        0}, "h": {"2020": 1, "2021": 1, "2022": 1}, "g": {"2020": 1, "2021": 1, "2022":
        1}, "read10": {"2020": 71.8, "2021": 46.8, "2022": 32.25581395348837}, "tori":
        {"2020": 0.05664579458000001, "2021": 0.12677851082, "2022": 0.22456782808}}}

        '
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '77363'
      X-RateLimit-Limit:
      - '1000'
      X-RateLimit-Remaining:
      - '983'
      X-RateLimit-Reset:
      - '1659565366'
    status:
      code: 200
      message: OK
version: 1
