interactions:
- request:
    body: '{"bibcodes": ["2020ApJ...902L..36F", "2020zndo...3678482F"], "types": ["timeseries"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//metrics
  response:
    body:
      string: '{"skipped bibcodes": [], "time series": {"i10": {"2020": 1, "2021":
        1, "2022": 1}, "i100": {"2020": 0, "2021": 0, "2022": 1}, "h": {"2020": 2,
        "2021": 2, "2022": 2}, "g": {"2020": 2, "2021": 2, "2022": 2}, "read10": {"2020":
        80.8, "2021": 54.8, "2022": 40.161094224924014}, "tori": {"2020": 0.09358191498,
        "2021": 0.15907031752, "2022": 0.29402430428}}}

        '
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '72938'
      X-RateLimit-Limit:
      - '1000'
      X-RateLimit-Remaining:
      - '986'
      X-RateLimit-Reset:
      - '1669456473'
    status:
      code: 200
      message: OK
version: 1
