interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//resolver/2020ApJ...902L..36F/data
  response:
    body:
      string: '{"service": "http://simbad.u-strasbg.fr/simbo.pl?bibcode=2020ApJ...902L..36F",
        "action": "redirect", "link": "http://simbad.u-strasbg.fr/simbo.pl?bibcode=2020ApJ...902L..36F",
        "link_type": "DATA"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '86068'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4993'
      X-RateLimit-Reset:
      - '1660171846'
    status:
      code: 200
      message: OK
version: 1
