interactions:
- request:
    body: '{"name": "J8O0OPGS08_3"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//biblib/libraries
  response:
    body:
      string: '{"name": "J8O0OPGS08_3", "id": "ACSMg8F9TyK0DRjL5Uwk1A", "description":
        "My ADS library"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"action": "add", "bibcode": ["2021ApJ...923..214F"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//biblib/documents/ACSMg8F9TyK0DRjL5Uwk1A
  response:
    body:
      string: '{"number_added": 1}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//biblib/libraries/ACSMg8F9TyK0DRjL5Uwk1A/?start=0
  response:
    body:
      string: '{"documents": ["2021ApJ...923..214F"], "solr": {"responseHeader": {"status":
        0, "QTime": 34, "params": {"q": "*:*", "fl": "bibcode,alternate_bibcode",
        "start": "0", "internal_logging_params": "X-Amzn-Trace-Id=Root=1-63c6aff4-293f90bf79f0181256ecc245",
        "fq": "{!bitset}", "sort": "date desc", "rows": "20", "wt": "json"}}, "response":
        {"numFound": 1, "start": 0, "docs": [{"bibcode": "2021ApJ...923..214F", "alternate_bibcode":
        ["2021arXiv211004131F"]}]}}, "metadata": {"name": "J8O0OPGS08_3", "id": "ACSMg8F9TyK0DRjL5Uwk1A",
        "description": "My ADS library", "num_documents": 1, "date_created": "2023-01-17T14:25:54.668640",
        "date_last_modified": "2023-01-17T14:25:55.479311", "permission": "owner",
        "public": false, "num_users": 1, "owner": "robert.j.farmer37"}, "updates":
        {"num_updated": 0, "duplicates_removed": 0, "update_list": []}}

        '
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '84805'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4709'
      X-RateLimit-Reset:
      - '1674050362'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: DELETE
    uri: https://api.adsabs.harvard.edu/v1//biblib/documents/ACSMg8F9TyK0DRjL5Uwk1A
  response:
    body:
      string: '{}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
