interactions:
- request:
    body: '{"reference": ["Farmer, R., Fields, C. E., Petermann, I., et al. 2016,
      ApJS,227, 22"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//reference/text
  response:
    body:
      string: '{"resolved": [{"refstring": "Farmer, R., Fields, C. E., Petermann,
        I., et al. 2016, ApJS,227, 22", "score": "1.0", "bibcode": "2016ApJS..227...22F"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF8
      Retry-After:
      - '84117'
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Remaining:
      - '97'
      X-RateLimit-Reset:
      - '1648393423'
    status:
      code: 200
      message: OK
version: 1
