interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//resolver/2020ApJ...902L..36F/graphics
  response:
    body:
      string: '{"service": "/abs/2020ApJ...902L..36F/graphics", "action": "redirect",
        "link": "/abs/2020ApJ...902L..36F/graphics", "link_type": "GRAPHICS"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '83854'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4789'
      X-RateLimit-Reset:
      - '1669629755'
    status:
      code: 200
      message: OK
version: 1
