interactions:
- request:
    body: '{"bibcodes": ["2020ApJ...902L..36F", "2020zndo...3678482F"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//metrics/detail
  response:
    body:
      string: '{"skipped bibcodes": [], "2020ApJ...902L..36F": {"citations": {"2020":
        16, "2021": 35, "2022": 61, "2023": 2}, "ref_citations": {"2020": 13, "2021":
        31, "2022": 43, "2023": 1}, "reads": {"2020": 359, "2021": 234, "2022": 186,
        "2023": 8}, "downloads": {"2020": 187, "2021": 117, "2022": 105, "2023": 4}},
        "2020zndo...3678482F": {"citations": {"2020": 3, "2021": 0, "2022": 0, "2023":
        0}, "ref_citations": {"2020": 2, "2021": 0, "2022": 0, "2023": 0}, "reads":
        {"2020": 9, "2021": 8, "2022": 4, "2023": 0}, "downloads": {"2020": 3, "2021":
        3, "2022": 2, "2023": 0}}}

        '
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '86393'
      X-RateLimit-Limit:
      - '1000'
      X-RateLimit-Remaining:
      - '990'
      X-RateLimit-Reset:
      - '1674051436'
    status:
      code: 200
      message: OK
version: 1
