interactions:
- request:
    body: '{"name": "J8O0OPGS08_4"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//biblib/libraries
  response:
    body:
      string: '{"name": "J8O0OPGS08_4", "id": "mc3IhsmiQT-okyRwCxiYUg", "description":
        "My ADS library"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//biblib/permissions/mc3IhsmiQT-okyRwCxiYUg
  response:
    body:
      string: '[{"robert.j.farmer37@gmail.com": ["owner"]}]

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: DELETE
    uri: https://api.adsabs.harvard.edu/v1//biblib/documents/mc3IhsmiQT-okyRwCxiYUg
  response:
    body:
      string: '{}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
