interactions:
- request:
    body: '{"bibcodes": ["2020ApJ...902L..36F", "2019ApJ...887...53F"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//vis/paper-network
  response:
    body:
      string: '{"msg": {"start": 0, "rows": 2, "numFound": 2}, "data": {"fullGraph":
        {"nodes": [{"read_count": 44, "nodeName": "2019ApJ...887...53F", "title":
        "Mind the Gap: The Location of the Lower Edge of the Pair-instability Supernova
        Black Hole Mass Gap", "first_author": "Farmer, R.", "citation_count": 194,
        "year": "2019", "nodeWeight": 194}, {"read_count": 29, "nodeName": "2020ApJ...902L..36F",
        "title": "Constraints from Gravitational-wave Detections of Binary Black Hole
        Mergers on the <SUP>12</SUP>C(\u03b1, \u03b3)<SUP>16</SUP>O Rate", "first_author":
        "Farmer, R.", "citation_count": 109, "year": "2020", "nodeWeight": 109}],
        "links": []}}}

        '
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '85435'
      X-RateLimit-Limit:
      - '1000'
      X-RateLimit-Remaining:
      - '975'
      X-RateLimit-Reset:
      - '1669631341'
    status:
      code: 200
      message: OK
version: 1
