interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//search/query?q=identifier%3A2021ApJ...923..214F&fl=abstract%2Cauthor%2Cbibcode%2Cpubdate%2Ctitle%2Cpub%2Cyear%2Ccitation_count&fq=&start=0&rows=1
  response:
    body:
      string: "{\n  \"responseHeader\":{\n    \"status\":0,\n    \"QTime\":1,\n    \"params\":{\n
        \     \"q\":\"identifier:2021ApJ...923..214F\",\n      \"fl\":\"abstract,author,bibcode,pubdate,title,pub,year,citation_count\",\n
        \     \"start\":\"0\",\n      \"internal_logging_params\":\"X-Amzn-Trace-Id=Root=1-63c6ae1c-5fae6019193d25bb1a6ea597\",\n
        \     \"fq\":\"\",\n      \"rows\":\"1\",\n      \"wt\":\"json\"}},\n  \"response\":{\"numFound\":1,\"start\":0,\"docs\":[\n
        \     {\n        \"bibcode\":\"2021ApJ...923..214F\",\n        \"abstract\":\"The
        cosmic origin of carbon, a fundamental building block of life, is still uncertain.
        Yield predictions for massive stars are almost exclusively based on single-star
        models, even though a large fraction interact with a binary companion. Using
        the MESA stellar evolution code, we predict the amount of carbon ejected in
        the winds and supernovae of single and binary-stripped stars at solar metallicity.
        We find that binary-stripped stars are twice as[...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//search/query?q=citations%282021ApJ...923..214F%29&fl=abstract%2Cauthor%2Cbibcode%2Cpubdate%2Ctitle%2Cpub%2Cyear%2Ccitation_count&fq=&start=0&rows=50
  response:
    body:
      string: "{\n  \"responseHeader\":{\n    \"status\":0,\n    \"QTime\":12,\n    \"params\":{\n
        \     \"q\":\"citations(2021ApJ...923..214F)\",\n      \"fl\":\"abstract,author,bibcode,[...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//search/query?q=references%282021ApJ...923..214F%29&fl=abstract%2Cauthor%2Cbibcode%2Cpubdate%2Ctitle%2Cpub%2Cyear%2Ccitation_count&fq=&start=0&rows=50
  response:
    body:
      string: "{\n  \"responseHeader\":{\n    \"status\":0,\n    \"QTime\":8,\n    \"params\":{\n
        \     \"q\":\"references(2021ApJ...923..214F)\",\n      \"fl\":\"abstract,author,bibcode,pubdate,title,pub,year,citation_count\",\n
        \     \"start\":\"0\",\n      \"internal_logging_params\":\"X-Amzn-Trace-Id=Root=1-63c6ae1d-0954dc0853a99a81643fc22d\",\n
        \     \"fq\":\"\",\n      \"rows\":\"50\",\n      \"wt\":\"json\"}},\n  \"response\":{\"numFound\":139,\"start\":0,\"docs\":[\n
        \     {\n        \"bibcode\":\"2007CSE.....9...90H\",\n        \"abstract\":\"Matplotlib
        is a 2D graphics package for Python for application development, interactive
        scripting, and publication-quality image generation across user interfaces
        and operating systems.\",\n        \"author\":[\"Hunter, John D.\"],\n        \"pub\":\"Computing
        in Science and Engineering\",\n        \"pubdate\":\"2007-05-00\",\n        \"title\":[\"Matplotlib:
        A 2D Graphics Environment\"],\n        \"year\":\"2007\",\n        \"citation_count\":9122},\n
        \     {\n        \"bibcode\":\"2011ApJS..192....3P\",\n        \"abstract\":\"Stellar
        physics and evolution calculations enable a broad range of research in astrophysics.
        Modules for Experiments in Stellar Astrophysics (MESA) is a suite of open
        source, robust, efficient, thread-safe libraries for a wide range of applications
        in computational stellar astrophysics. A one-dimensional stellar evolution
        module, MESAstar, combines many of the nu[...]
[...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//search/query?q=references%282021ApJ...923..214F%29&fl=abstract%2Cauthor%2Cbibcode%2Cpubdate%2Ctitle%2Cpub%2Cyear%2Ccitation_count&fq=&start=148&rows=50
  response:
    body:
      string: "{\n  \"responseHeader\":{\n    \"status\":0,\n    \"QTime\":35,\n    \"params\":{\n
        \     \"q\":\"references(2021ApJ...923..214F)\",\n      \"fl\":\"abstract,author,bibcode,pubdate,title,pub,year,citation_count\",\n
        \     \"start\":\"148\",\n      \"internal_logging_params\":\"X-Amzn-Trace-Id=Root=1-63c6ae1f-51d3141d75222fc26a8d3412\",\n
        \     \"fq\":\"\",\n      \"rows\":\"50\",\n      \"wt\":\"json\"}},\n  \"response\":{\"numFound\":139,\"start\":148,\"docs\":[]\n
        \ }}\n"
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '85273'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4745'
      X-RateLimit-Reset:
      - '1674050361'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//search/query?q=references%282021ApJ...923..214F%29&fl=abstract%2Cauthor%2Cbibcode%2Cpubdate%2Ctitle%2Cpub%2Cyear%2Ccitation_count&fq=&start=148&rows=50
  response:
    body:
      string: "{\n  \"responseHeader\":{\n    \"status\":0,\n    \"QTime\":32,\n    \"params\":{\n
        \     \"q\":\"references(2021ApJ...923..214F)\",\n      \"fl\":\"abstract,author,bibcode,pubdate,title,pub,year,citation_count\",\n
        \     \"start\":\"148\",\n      \"internal_logging_params\":\"X-Amzn-Trace-Id=Root=1-63c6ae28-757dd8284d9bd7fe2619dbd8\",\n
        \     \"fq\":\"\",\n      \"rows\":\"50\",\n      \"wt\":\"json\"}},\n  \"response\":{\"numFound\":139,\"start\":148,\"docs\":[]\n
        \ }}\n"
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '85264'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4736'
      X-RateLimit-Reset:
      - '1674050361'
    status:
      code: 200
      message: OK
version: 1
