interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//search/query?q=identifier%3A2021ApJ...923..214F&fl=abstract%2Cauthor%2Cbibcode%2Cpubdate%2Ctitle%2Cpub%2Cyear%2Ccitation_count&fq=&start=0&rows=1
  response:
    body:
      string: "{\n  \"responseHeader\":{\n    \"status\":0,\n    \"QTime\":1,\n    \"params\":{\n
        \     \"q\":\"identifier:2021ApJ...923..214F\",\n      \"fl\":\"abstract,author,bibcode,pubdate,title,pub,year,citation_count\",\n
        \     \"start\":\"0\",\n      \"internal_logging_params\":\"X-Amzn-Trace-Id=Root=1-63c6ae2a-7f5b771504214aa06ef30ce1\",\n
        \     \"fq\":\"\",\n      \"rows\":\"1\",\n      \"wt\":\"json\"}},\n  \"response\":{\"numFound\":1,\"start\":0,\"docs\":[\n
        \     {\n        \"bibcode\":\"2021ApJ...923..214F\",\n        \"abstract\":\"The
        cosmic origin of carbon, a fundamental building block of life, is still uncertain.
        Yield predictions for massive stars are almost exclusively based on single-star
        models, even though a large fraction interact with a binary companion. Using
        the MESA stellar evolution code, we predict the amount of carbon ejected in
        the winds and supernovae of single and binary-stripped stars at solar metallicity.
        We find that binary-stripped stars are twice as[...]
