interactions:
- request:
    body: '{"bibcodes": ["2020ApJ...902L..36F", "2020zndo...3678482F"], "types": ["histograms"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//metrics
  response:
    body:
      string: '{"skipped bibcodes": [], "histograms": {"publications": {"all publications":
        {"2020": 2, "2021": 0, "2022": 0}, "refereed publications": {"2020": 1, "2021":
        0, "2022": 0}, "all publications normalized": {"2020": 1.2, "2021": 0, "2022":
        0}, "refereed publications normalized": {"2020": 0.2, "2021": 0, "2022": 0}},
        "reads": {"all reads": {"1996": 0, "1997": 0, "1998": 0, "1999": 0, "2000":
        0, "2001": 0, "2002": 0, "2003": 0, "2004": 0, "2005": 0, "2006": 0, "2007":
        0, "2008": 0, "2009": 0, "2010": 0, "2011": 0, "2012": 0, "2013": 0, "2014":
        0, "2015": 0, "2016": 0, "2017": 0, "2018": 0, "2019": 0, "2020": 368, "2021":
        242, "2022": 170}, "all reads normalized": {"1996": 0.0, "1997": 0.0, "1998":
        0.0, "1999": 0.0, "2000": 0.0, "2001": 0.0, "2002": 0.0, "2003": 0.0, "2004":
   [...]
