interactions:
- request:
    body: 'bibcode

      2020zndo...3678482F

      2020ApJ...902L..36F'
    headers:
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//search/bigquery?q=%2A%3A%2A&fl=id%2Cbibcode%2Ctitle&rows=10
  response:
    body:
      string: "{\n  \"responseHeader\":{\n    \"status\":0,\n    \"QTime\":2,\n    \"params\":{\n
        \     \"q\":\"*:*\",\n      \"fl\":\"id,bibcode,title\",\n      \"start\":\"0\",\n
        \     \"internal_logging_params\":\"X-Amzn-Trace-Id=Root=1-62f3e6b8-7803402170bfb73e6646132e\",\n
        \     \"fq\":\"{!bitset}\",\n      \"rows\":\"10\",\n      \"wt\":\"json\"}},\n
        \ \"response\":{\"numFound\":2,\"start\":0,\"docs\":[\n      {\n        \"bibcode\":\"2020ApJ...902L..36F\",\n
        \       \"id\":\"19493342\",\n        \"title\":[\"Constraints from Gravitational-wave
        Detections of Binary Black Hole Mergers on the <SUP>12</SUP>C(\u03B1, \u03B3)<SUP>16</SUP>O
        Rate\"]},\n      {\n        \"bibcode\":\"2020zndo...3678482F\",\n        \"title\":[\"rjfarmer/mesaplot:
        Bug fixes\"],\n        \"id\":\"21144486\"}]\n  }}\n"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
