interactions:
- request:
    body: '{"name": "0W7F64CCJC"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//biblib/libraries
  response:
    body:
      string: '{"name": "0W7F64CCJC", "id": "5SQSuWU5TMKBtJVlMTMKcA", "description":
        "My ADS library"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"action": "add", "bibcode": ["2021ApJ...923..214F"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//biblib/documents/5SQSuWU5TMKBtJVlMTMKcA
  response:
    body:
      string: '{"number_added": 1}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//biblib/libraries/5SQSuWU5TMKBtJVlMTMKcA/?start=0
  response:
    body:
      string: '{"documents": ["2021ApJ...923..214F"], "solr": {"responseHeader": {"status":
        0, "QTime": 35, "params": {"q": "*:*", "fl": "bibcode,alternate_bibcode",
        "start": "0", "internal_logging_params": "X-Amzn-Trace-Id=Root=1-63833f91-7a80e6d927d4e5180d4fd8d4",
        "fq": "{!bitset}", "sort": "date desc", "rows": "20", "wt": "json"}}, "response":
        {"numFound": 1, "start": 0, "docs": [{"bibcode": "2021ApJ...923..214F", "alternate_bibcode":
        ["2021arXiv211004131F"]}]}}, "metadata": {"name": "0W7F64CCJC", "id": "5SQSuWU5TMKBtJVlMTMKcA",
        "description": "My ADS library", "num_documents": 1, "date_created": "2022-11-27T10:44:31.991763",
        "date_last_modified": "2022-11-27T10:44:32.579595", "permission": "owner",
        "public": false, "num_users": 1, "owner": "robert.j.farmer37"}, "updates":
        {"num_updated": 0, "duplicates_removed": 0, "update_list": []}}

        '
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '83881'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4809'
      X-RateLimit-Reset:
      - '1669629755'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: DELETE
    uri: https://api.adsabs.harvard.edu/v1//biblib/documents/5SQSuWU5TMKBtJVlMTMKcA
  response:
    body:
      string: '{}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
