interactions:
- request:
    body: '{"name": "4WB2GTNSTN"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//biblib/libraries
  response:
    body:
      string: '{"name": "4WB2GTNSTN", "id": "1sRS-qDHQWC0YEs44Yf4vg", "description":
        "My ADS library"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//biblib/libraries/1sRS-qDHQWC0YEs44Yf4vg/?start=0
  response:
    body:
      string: '{"documents": [], "solr": {"responseHeader": {"status": 0, "QTime":
        0, "params": {"q": "*:*", "fl": "bibcode,alternate_bibcode", "start": "0",
        "internal_logging_params": "X-Amzn-Trace-Id=Root=1-6380c859-496f85bd365e19a327273f3a",
        "fq": "{!bitset}", "sort": "date desc", "rows": "20", "wt": "json"}}, "response":
        {"numFound": 0, "start": 0, "docs": []}}, "metadata": {"name": "4WB2GTNSTN",
        "id": "1sRS-qDHQWC0YEs44Yf4vg", "description": "My ADS library", "num_documents":
        0, "date_created": "2022-11-25T13:51:21.108911", "date_last_modified": "2022-11-25T13:51:21.108919",
        "permission": "owner", "public": false, "num_users": 1, "owner": "robert.j.farmer37"},
        "updates": {"num_updated": 0, "duplicates_removed": 0, "update_list": []}}

        '
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '72116'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4795'
      X-RateLimit-Reset:
      - '1669456398'
    status:
      code: 200
      message: OK
- request:
    body: '{"action": "add", "bibcode": ["2021ApJ...923..214F"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//biblib/documents/1sRS-qDHQWC0YEs44Yf4vg
  response:
    body:
      string: '{"number_added": 1}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//biblib/libraries/1sRS-qDHQWC0YEs44Yf4vg/?start=0
  response:
    body:
      string: '{"documents": ["2021ApJ...923..214F"], "solr": {"responseHeader": {"status":
        0, "QTime": 1, "params": {"q": "*:*", "fl": "bibcode,alternate_bibcode", "start":
        "0", "internal_logging_params": "X-Amzn-Trace-Id=Root=1-6380c85a-4d4496f34969b4cb46a6e0e3",
        "fq": "{!bitset}", "sort": "date desc", "rows": "20", "wt": "json"}}, "response":
        {"numFound": 1, "start": 0, "docs": [{"bibcode": "2021ApJ...923..214F", "alternate_bibcode":
        ["2021arXiv211004131F"]}]}}, "metadata": {"name": "4WB2GTNSTN", "id": "1sRS-qDHQWC0YEs44Yf4vg",
        "description": "My ADS library", "num_documents": 1, "date_created": "2022-11-25T13:51:21.108911",
        "date_last_modified": "2022-11-25T13:51:22.340633", "permission": "owner",
        "public": false, "num_users": 1, "owner": "robert.j.farmer37"}, "updates":
        {"num_updated": 0, "duplicates_removed": 0, "update_list": []}}

        '
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '72115'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4794'
      X-RateLimit-Reset:
      - '1669456399'
    status:
      code: 200
      message: OK
- request:
    body: '{"action": "remove", "bibcode": ["2021ApJ...923..214F"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//biblib/documents/1sRS-qDHQWC0YEs44Yf4vg
  response:
    body:
      string: '{"number_removed": 1}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: DELETE
    uri: https://api.adsabs.harvard.edu/v1//biblib/documents/1sRS-qDHQWC0YEs44Yf4vg
  response:
    body:
      string: '{}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
