interactions:
- request:
    body: '{"bibcode": ["2020ApJ...902L..36F"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//author-affiliation/search
  response:
    body:
      string: '{"data": [{"authorName": "Farmer, R.", "affiliations": {"name": "Anton
        Pannekoek Institute for Astronomy and GRAPPA, University of Amsterdam, NL-1090
        GE Amsterdam, The Netherlands; Center for Astrophysics \u2223 Harvard &amp;
        Smithsonian, 60 Garden Street, Cambridge, MA 02138, USA", "years": ["2020"],
        "lastActiveDate": "2020/10"}}, {"authorName": "Fishbach, M.", "affiliations":
        {"name": "Department of Astronomy and Astrophysics, University of Chicago,
        Chicago, IL 60637, USA", "years": ["2020"], "lastActiveDate": "2020/10"}},
        {"authorName": "Justham, S.", "affiliations": {"name": "Anton Pannekoek Institute
        for Astronomy and GRAPPA, University of Amsterdam, NL-1090 GE Amsterdam, The
        Netherlands; School of Astronomy &amp; Space Science, University of the Chinese
        Academy of Sciences, Beijing 100012, People''s Republic of China; National
        Astronomical Observatories, Chinese Academy of Sciences, Beijing 100012, People''s
        Republic of China", "years": ["2020"], "lastActiveDate": "2020/10"}}, {"authorName":
        "Renzo, M.", "affiliations": {"name": "Center for Computational Astrophysics,
        Flatiron Institute, New York, NY 10010, USA", "years": ["2020"], "lastActiveDate":
        "2020/10"}}, {"authorName": "de Mink, S. E.", "affiliations": {"name": "Anton
        Pannekoek Institute for Astronomy and GRAPPA, University of Amsterdam, NL-1090
        GE Amsterdam, The Netherlands; Center for Astrophysics \u2223 Harvard &amp;
        Smithsonian, 60 Garden Street, Cambridge, MA 02138, USA", "years": ["2020"],
        "lastActiveDate": "2020/10"}}]}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '84118'
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Remaining:
      - '91'
      X-RateLimit-Reset:
      - '1648393418'
    status:
      code: 200
      message: OK
version: 1
