interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//search/query/?q=references(2021ApJ...923..214F)&fl=abstract,author,bibcode,pubdate,title,pub,year,citation_count,reference&fq=&start=0&rows=50
  response:
    body:
      string: "{\n  \"responseHeader\":{\n    \"status\":0,\n    \"QTime\":40,\n    \"params\":{\n
        \     \"q\":\"references(2021ApJ...923..214F)\",\n      \"fl\":\"abstract,author,bibcode,pubdate,title,pub,year,citation_count,reference\",\n
        \     \"start\":\"0\",\n      \"internal_logging_params\":\"X-Amzn-Trace-Id=Root=1-62e0187f-1fb9736a2a68e5356163a4ef\",\n
        \     \"fq\":\"\",\n      \"rows\":\"50\",\n      \"wt\":\"json\"}},\n  \"response\":{\"numFound\":139,\"start\":0,\"docs\":[\n
        \     {\n        \"bibcode\":\"2007CSE.....9...90H\",\n        \"abstract\":\"Matplotlib
        is a 2D graphics package for Python for application development, interactive
        scripting, and publication-quality image generation across user interfaces
        and operating systems.\",\n        \"author\":[\"Hunter, John D.\"],\n        \"pub\":\"Computing
        in Science and Engineering\",\n        \"pubdate\":\"2007-05-00\",\n        \"title\":[\"Matplotlib:
        A 2D Graphics Environment\"],\n        \"year\":\"2007\",\n        \"citation_count\":7984},\n
        \     {\n        \"bibcode\":\"2011ApJS..192....3P\",\n        \"abstract\":\"Stellar
        physics and evolution calculations enable a broad range of research in astrophysics.
        Modules for Experiments in Stellar Astrophysics (MESA) is a suite of open
        source, robust, efficient, thread-safe libraries for a wide range of applications
        in computational stellar astrophysics. A one-dimensional stellar evolution
        module, MESAstar, combines many of the nu[...]
[...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//search/query/?q=references(2021ApJ...923..214F)&fl=abstract,author,bibcode,pubdate,title,pub,year,citation_count,reference&fq=&start=148&rows=50
  response:
    body:
      string: "{\n  \"responseHeader\":{\n    \"status\":0,\n    \"QTime\":81,\n    \"params\":{\n
        \     \"q\":\"references(2021ApJ...923..214F)\",\n      \"fl\":\"abstract,author,bibcode,pubdate,title,pub,year,citation_count,reference\",\n
        \     \"start\":\"148\",\n      \"internal_logging_params\":\"X-Amzn-Trace-Id=Root=1-62e01881-207fd2fa30c5e4c772f01bf7\",\n
        \     \"fq\":\"\",\n      \"rows\":\"50\",\n      \"wt\":\"json\"}},\n  \"response\":{\"numFound\":139,\"start\":148,\"docs\":[]\n
        \ }}\n"
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '3'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4619'
      X-RateLimit-Reset:
      - '1658853509'
    status:
      code: 200
      message: OK
version: 1
