interactions:
- request:
    body: '{"bibcodes": ["2020ApJ...902L..36F", "2020zndo...3678482F"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//metrics/detail
  response:
    body:
      string: '{"skipped bibcodes": [], "2020ApJ...902L..36F": {"citations": {"2020":
        15, "2021": 36, "2022": 57}, "ref_citations": {"2020": 13, "2021": 31, "2022":
        37}, "reads": {"2020": 359, "2021": 234, "2022": 166}, "downloads": {"2020":
        187, "2021": 117, "2022": 94}}, "2020zndo...3678482F": {"citations": {"2020":
        3, "2021": 0, "2022": 0}, "ref_citations": {"2020": 2, "2021": 0, "2022":
        0}, "reads": {"2020": 9, "2021": 8, "2022": 3}, "downloads": {"2020": 3, "2021":
        3, "2022": 2}}}

        '
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '72937'
      X-RateLimit-Limit:
      - '1000'
      X-RateLimit-Remaining:
      - '983'
      X-RateLimit-Reset:
      - '1669456473'
    status:
      code: 200
      message: OK
version: 1
