interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//search/query/?q=references(2021ApJ...923..214F)&fl=abstract,author,bibcode,pubdate,title,pub&fq=&start=0
  response:
    body:
      string: "{\n  \"responseHeader\":{\n    \"status\":0,\n    \"QTime\":45,\n    \"params\":{\n
        \     \"q\":\"references(2021ApJ...923..214F)\",\n      \"fl\":\"abstract,author,bibcode,pubdate,title,pub\",\n
        \     \"start\":\"0\",\n      \"internal_logging_params\":\"X-Amzn-Trace-Id=Root=1-6249b053-1fc91a0048e3145669bc8f6c\",\n
        \     \"fq\":\"\",\n      \"rows\":\"10\",\n      \"wt\":\"json\"}},\n  \"response\":{\"numFound\":139,\"start\":0,\"docs\":[\n
        \     {\n        \"bibcode\":\"2007CSE.....9...90H\",\n        \"abstract\":\"Matplotlib
        is a 2D graphics package for Python for application development, interactive
        scripting, and publication-quality image generation across user interfaces
        and operating systems.\",\n        \"author\":[\"Hunter, John D.\"],\n        \"pub\":\"Computing
        in Science and Engineering\",\n        \"pubdate\":\"2007-05-00\",\n        \"title\":[\"Matplotlib:
        A 2D Graphics Environment\"]},\n      {\n        \"bibcode\":\"2011ApJS..192....3P\",\n
        \       \"abstract\":\"Stellar physics and evolution calculations enable a
        broad range of research in astrophysics. Modules for Experiments in Stellar
        Astrophysics (MESA) is a suite of open source, robust, efficient, thread-safe
        libraries for a wide range of applications in computational stellar astrophysics.
        A one-dimensional stellar evolution mo[...]
