interactions:
- request:
    body: '{"bibcode": ["2020ApJ...902L..36F", "2020zndo...3678482F"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//export/rss
  response:
    body:
      string: '{"msg": "Retrieved 2 abstracts, starting with number 1.", "export":
        "<?xml version=''1.0'' encoding=''utf8''?>\n<rss version=\"2.0\">\n<channel>\n<title>ADS
        (Cites/AR query)</title>\n<link>https://ui.adsabs.harvard.edu</link>\n<description>The
        SAO/NASA ADS Abstract service provides a search system for the Astronomy and
        Physics literature</description>\n<image>\n<url>http://ads.harvard.edu/figs/ads_icon_144.png</url>\n<title>SAO/NASA
        ADS</title>\n<link>https://ui.adsabs.harvard.edu</link>\n<width>144</width>\n<height>122</height>\n</image>\n\n<item>\n<title>Farmer,
        R.: Constraints from Gravitational-wave Detections of Binary Black Hole Mergers
        on the &lt;SUP&gt;12&lt;/SUP&gt;C(\u03b1, \u03b3)&lt;SUP&gt;16&lt;/SUP&gt;O
        Rate</title>\n<link>https://ui.adsabs.harvard.edu/abs/2020ApJ...902L..36F</link>\n<description>Gravitational-wave
        detections are starting to allow us to probe the\nphysical processes in the
        evolution of very massive stars through the\nimprints they leave on their
        final remnants.[...]
