interactions:
- request:
    body: '{"function": "reviews", "sort": "first_author", "num_docs": 10, "top_n_reads":
      50, "cutoff_days": 7}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//oracle/readhist
  response:
    body:
      string: '{"error": "no result from solr with status code=200", "query": "(reviews(topn(50,
        reader:1b32642e059f2451, first_author desc)) entdate:[NOW-7DAYS TO *])"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '85973'
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Remaining:
      - '98'
      X-RateLimit-Reset:
      - '1662389885'
    status:
      code: 404
      message: NOT FOUND
version: 1
