interactions:
- request:
    body: '{"bibcodes": ["2020ApJ...902L..36F", "2020zndo...3678482F"], "types": ["indicators"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//metrics
  response:
    body:
      string: '{"skipped bibcodes": ["2020zndo...3678482F"], "indicators": {"h": 1,
        "g": 1, "i10": 1, "i100": 0, "m": 0.3333333333333333, "read10": 32.25581395348837,
        "tori": 0.22456782808, "riq": 473}, "indicators refereed": {"h": 1, "g": 1,
        "i10": 1, "i100": 0, "m": 0.3333333333333333, "read10": 32.25581395348837,
        "tori": 0.22456782808, "riq": 473}}

        '
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '77363'
      X-RateLimit-Limit:
      - '1000'
      X-RateLimit-Remaining:
      - '984'
      X-RateLimit-Reset:
      - '1659565366'
    status:
      code: 200
      message: OK
version: 1
