interactions:
- request:
    body: '{"bibcode": ["2020ApJ...902L..36F", "2020zndo...3678482F"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//export/refabsxml
  response:
    body:
      string: '{"msg": "Retrieved 2 abstracts, starting with number 1.", "export":
        "<?xml version=''1.0'' encoding=''utf8''?>\n<records xmlns=\"http://ads.harvard.edu/schema/abs/1.1/abstracts\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://ads.harvard.edu/schema/abs/1.1/abstracts
        http://ads.harvard.edu/schema/abs/1.1/abstracts.xsd\" retrieved=\"2\" start=\"1\"
        selected=\"2\" citations=\"99\">\n<record refereed=\"true\" article=\"true\"
        type=\"article\">\n<bibcode>2020ApJ...902L..36F</bibcode>\n<title>Constraints
        from Gravitational-wave Detections of Binary Black Hole Mergers on the &lt;SUP&gt;12&lt;/SUP&gt;C(\u03b1,
        \u03b3)&lt;SUP&gt;16&lt;/SUP&gt;O Rate</title>\n<author>Farmer, R.</author>\n<author>Renzo,
        M.</author>\n<author>de Mink, S. E.</author>\n<author>Fishbach, M.</author>\n<author>Justham,
        S.</author>\n<affiliation>AA(University of Amsterdam, Anton Pannekoek Institute
        for Astronomy; Harvard Smithsonian Center for Astrophysics), AB(Center for
        Computational Astrophysics, Flatiron Institute, New York), AC(University of
        Amsterdam, Anton Pannekoek Institute for Astronomy; Harvard Smithsonian Center
        for Astrophysics), AD(University of Chicago, Department of Astronomy and Astrophysics),
        AE(University of Amsterdam, Anton Pannekoek Institute for Astronomy; University
        of the Chinese Academy of Sciences, Beijing; CAS, National Astronomical Observatories)</affiliation>\n<journal>The
        Astrophysical Journal Letters, Volume 902, Issue 2, id.L36, 14 pp.</journal>\n<volume>902</volume>\n<pubdate>Oct
        2020</pubdate>\n<keywords>\n<keyword>Stellar evolution</keyword>\n<keyword>Supernovae</keyword>\n<keyword>Core-collapse
        supernovae</keyword>\n<keyword>Nuclear astrophysics</keyword>\n<keyword>Stellar
        mass black holes</keyword>\n<keyword>Astrophysical black holes</keyword>\n<keyword>Massive
        stars</keyword>\n<keyword>Late stellar evolution</keyword>\n<keyword>1599</keyword>\n<keyword>1668</keyword>\n<keyword>304</keyword>\n<keyword>1129</keyword>\n<keyword>1611</keyword>\n<keyword>98</keyword>\n<keyword>732</keyword>\n<keyword>911</keyword>\n<keyword>Astrophysics
        - High Energy Astrophysical Phenomena</keyword>\n</keywords>\n<link type=\"abstract\">\n<name>abstract</name>\n<url>https://ui.adsabs.harvard.edu/link_gateway/2020ApJ...902L..36F/abstract</url>\n</link>\n<link
        type=\"citations\">\n<name>Citations to the Article</name>\n<url>https://ui.adsabs.harvard.edu/link_gateway/2020ApJ...902L..36F/citations</url>\n<count>97</count>\n</link>\n<link
        type=\"reference\">\n<name>References in the Article</name>\n<url>https://ui.adsabs.harvard.edu/link_gateway/2020ApJ...902L..36F/reference</url>\n<count>172</count>\n</link>\n<link
        type=\"coreads\">\n<name>Co-Reads</name>\n<url>https://ui.adsabs.harvard.edu/link_gateway/2020ApJ...902L..36F/coreads</url>\n</link>\n<link
        type=\"EPRINT_HTML\">\n<name>arXiv Article</name>\n<url>https://ui.adsabs.harvard.edu/link_gateway/2020ApJ...902L..36F/EPRINT_HTML</url>\n</link>\n<link
        type=\"PUB_HTML\">\n<name>Publisher Article</name>\n<url>https://ui.adsabs.harvard.edu/link_gateway/2020ApJ...902L..36F/PUB_HTML</url>\n</link>\n<link
        type=\"EPRINT_PDF\" access=\"open\">\n<name>arXiv PDF</name>\n<url>https://ui.adsabs.harvard.edu/link_gateway/2020ApJ...902L..36F/EPRINT_PDF</url>\n</link>\n<link
        type=\"PUB_PDF\" access=\"open\">\n<name>Publisher PDF</name>\n<url>https://ui.adsabs.harvard.edu/link_gateway/2020ApJ...902L..36F/PUB_PDF</url>\n</link>\n<link
        type=\"SIMBAD\">\n<name>SIMBAD Database at the CDS</name>\n<url>https://ui.adsabs.harvard.edu/link_gateway/2020ApJ...902L..36F/SIMBAD</url>\n<count>10</count>\n</link>\n<url>https://ui.adsabs.harvard.edu/abs/2020ApJ...902L..36F</url>\n<citations>97</citations>\n<abstract>Gravitational-wave
        detections are starting to allow us to probe the physical processes in the
        evolution of very massive stars through the imprints they leave on their final
        remnants. Stellar evolution theory predicts the existence of a gap in the
        black hole mass distribution at high mass due to the effects of pair instability.
        Previously, we showed that the location of the gap is robust against model
        uncertainties, but it does depend sensitively on[...]
