interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//resolver/2020ApJ...902L..36F/coreads
  response:
    body:
      string: '{"service": "/abs/2020ApJ...902L..36F/coreads", "action": "redirect",
        "link": "/abs/2020ApJ...902L..36F/coreads", "link_type": "COREADS"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '72851'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4835'
      X-RateLimit-Reset:
      - '1669456398'
    status:
      code: 200
      message: OK
version: 1
