interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//search/query?q=references%282015arXiv151102820P%29&fl=abstract%2Cauthor%2Cbibcode%2Cpubdate%2Ctitle%2Cpub%2Cyear%2Ccitation_count&fq=&start=0&rows=50
  response:
    body:
      string: "{\n  \"responseHeader\":{\n    \"status\":0,\n    \"QTime\":44,\n    \"params\":{\n
        \     \"q\":\"references(2015arXiv151102820P)\",\n      \"fl\":\"abstract,author,bibcode,pubdate,title,pub,year,citation_count\",\n
        \     \"start\":\"0\",\n      \"internal_logging_params\":\"X-Amzn-Trace-Id=Root=1-63c6ae3f-0a69119c7e412ee10eccf107\",\n
        \     \"fq\":\"\",\n      \"rows\":\"50\",\n      \"wt\":\"json\"}},\n  \"response\":{\"numFound\":41,\"start\":0,\"docs\":[\n
        \     {\n        \"bibcode\":\"2011ApJS..192....3P\",\n        \"abstract\":\"Stellar
        physics and evolution calculations enable a broad range of research in astrophysics.
        Modules for Experiments in Stellar Astrophysics (MESA) is a suite of open
        source, robust, efficient, thread-safe libraries for a wide range of applications
        in computational stellar astrophysics. A one-dimensional stellar evolution
        module, MESAstar, combines many of the numerical and physics modules for simulations
        of a wide range of stellar evolution scen[...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//search/query?q=references%282017zndo....846305F%29&fl=abstract%2Cauthor%2Cbibcode%2Cpubdate%2Ctitle%2Cpub%2Cyear%2Ccitation_count&fq=&start=0&rows=50
  response:
    body:
      string: "{\n  \"responseHeader\":{\n    \"status\":0,\n    \"QTime\":28,\n    \"params\":{\n
        \     \"q\":\"references(2017zndo....846305F)\",\n      \"fl\":\"abstract,author,bibcode,pubdate,title,pub,year,citation_count\",\n
        \     \"start\":\"0\",\n      \"internal_logging_params\":\"X-Amzn-Trace-Id=Root=1-63c6ae40-26daa20c205bb54f21568eda\",\n
        \     \"fq\":\"\",\n      \"rows\":\"50\",\n      \"wt\":\"json\"}},\n  \"response\":{\"numFound\":0,\"start\":0,\"docs\":[]\n
        \ }}\n"
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '85240'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4713'
      X-RateLimit-Reset:
      - '1674050361'
    status:
      code: 200
      message: OK
version: 1
