interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//search/query/?q=%5Efarmer&fl=bibcode&fq=&start=0&rows=100
  response:
    body:
      string: "{\n  \"responseHeader\":{\n    \"status\":0,\n    \"QTime\":11,\n    \"params\":{\n
        \     \"q\":\"^farmer\",\n      \"fl\":\"bibcode\",\n      \"start\":\"0\",\n
        \     \"internal_logging_params\":\"X-Amzn-Trace-Id=Root=1-623f341e-074f3d0d2a631c427f50a435\",\n
        \     \"fq\":\"\",\n      \"rows\":\"100\",\n      \"wt\":\"json\"}},\n  \"response\":{\"numFound\":982,\"start\":0,\"docs\":[\n
        \     {\n        \"bibcode\":\"1987PhRvL..59..845F\"},\n      {\n        \"bibcode\":\"1983PhyD....7..153F\"},\n
        \     {\n        \"bibcode\":\"2019ApJ...887...53F\"},\n      {\n        \"bibcode\":\"2020ApJ...902L..36F\"},\n
        \     {\n        \"bibcode\":\"2003MNRAS.346.1197F\"},\n      {\n        \"bibcode\":\"2010PNAS..107.6670F\"},\n
        \     {\n        \"bibcode\":\"2016ApJS..227...22F\"},\n      {\n        \"bibcode\":\"2020zndo...3678482F\"},\n
        \     {\n        \"bibcode\":\"2019zndo...351[...]
