interactions:
- request:
    body: '{"name": "S7I0BJKIRW"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//biblib/libraries
  response:
    body:
      string: '{"name": "S7I0BJKIRW", "id": "mrcN4uC0QOixFKmlHtpkag", "description":
        "My ADS library"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//biblib/libraries/mrcN4uC0QOixFKmlHtpkag/?start=0
  response:
    body:
      string: '{"documents": [], "solr": {"responseHeader": {"status": 0, "QTime":
        0, "params": {"q": "*:*", "fl": "bibcode,alternate_bibcode", "start": "0",
        "internal_logging_params": "X-Amzn-Trace-Id=Root=1-63833f92-19910d152facb3141492c35d",
        "fq": "{!bitset}", "sort": "date desc", "rows": "20", "wt": "json"}}, "response":
        {"numFound": 0, "start": 0, "docs": []}}, "metadata": {"name": "S7I0BJKIRW",
        "id": "mrcN4uC0QOixFKmlHtpkag", "description": "My ADS library", "num_documents":
        0, "date_created": "2022-11-27T10:44:34.404739", "date_last_modified": "2022-11-27T10:44:34.404745",
        "permission": "owner", "public": false, "num_users": 1, "owner": "robert.j.farmer37"},
        "updates": {"num_updated": 0, "duplicates_removed": 0, "update_list": []}}

        '
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '83879'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4807'
      X-RateLimit-Reset:
      - '1669629755'
    status:
      code: 200
      message: OK
- request:
    body: '{"action": "add", "bibcode": ["2021ApJ...923..214F"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//biblib/documents/mrcN4uC0QOixFKmlHtpkag
  response:
    body:
      string: '{"number_added": 1}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//biblib/libraries/mrcN4uC0QOixFKmlHtpkag/?start=0
  response:
    body:
      string: '{"documents": ["2021ApJ...923..214F"], "solr": {"responseHeader": {"status":
        0, "QTime": 1, "params": {"q": "*:*", "fl": "bibcode,alternate_bibcode", "start":
        "0", "internal_logging_params": "X-Amzn-Trace-Id=Root=1-63833f94-49fbb91728231cad15038f86",
        "fq": "{!bitset}", "sort": "date desc", "rows": "20", "wt": "json"}}, "response":
        {"numFound": 1, "start": 0, "docs": [{"bibcode": "2021ApJ...923..214F", "alternate_bibcode":
        ["2021arXiv211004131F"]}]}}, "metadata": {"name": "S7I0BJKIRW", "id": "mrcN4uC0QOixFKmlHtpkag",
        "description": "My ADS library", "num_documents": 1, "date_created": "2022-11-27T10:44:34.404739",
        "date_last_modified": "2022-11-27T10:44:35.662298", "permission": "owner",
        "public": false, "num_users": 1, "owner": "robert.j.farmer37"}, "updates":
        {"num_updated": 0, "duplicates_removed": 0, "update_list": []}}

        '
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '83878'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4806'
      X-RateLimit-Reset:
      - '1669629755'
    status:
      code: 200
      message: OK
- request:
    body: '{"action": "remove", "bibcode": ["2021ApJ...923..214F"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//biblib/documents/mrcN4uC0QOixFKmlHtpkag
  response:
    body:
      string: '{"number_removed": 1}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: DELETE
    uri: https://api.adsabs.harvard.edu/v1//biblib/documents/mrcN4uC0QOixFKmlHtpkag
  response:
    body:
      string: '{}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
