interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//biblib/libraries
  response:
    body:
      string: '{"libraries": [{"name": "massive_star_yields", "id": "JmbSgnh_R9yBjz7OaqV2AQ",
        "description": "My ADS library", "num_documents": 8, "date_created": "2016-03-17T20:31:40.809547",
        "date_last_modified": "2016-04-15T23:44:20.066299", "permission": "owner",
        "public": false, "num_users": 1, "owner": "robert.j.farmer37"}, {"name": "atmo",
        "id": "EFxIuXn8TjO9kOOHCWOtnw", "description": "My ADS library", "num_documents":
        7, "date_created": "2016-04-01T21:55:57.499567", "date_last_modified": "2021-11-12T14:23:31.820973",
        "permission": "owner", "public": false, "num_users": 1, "owner": "robert.j.farmer37"},
        {"name": "mesa", "id": "28DoWuUTSQal9JedceRR8A", "description": "My ADS library",
        "num_documents": 5, "date_created": "2016-04-04T18:35:57.073574", "d[...]
- request:
    body: '{"name": "test_123465789"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//biblib/libraries
  response:
    body:
      string: '{"name": "test_123465789", "id": "P3mO8V_WROuYmTqbSEMHCQ", "description":
        "My ADS library"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: DELETE
    uri: https://api.adsabs.harvard.edu/v1//biblib/documents/P3mO8V_WROuYmTqbSEMHCQ
  response:
    body:
      string: '{}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
