interactions:
- request:
    body: '{"bibcodes": ["2020ApJ...902L..36F", "2020zndo...3678482F"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//metrics/detail
  response:
    body:
      string: '{"skipped bibcodes": ["2020zndo...3678482F"], "2020ApJ...902L..36F":
        {"citations": {"2020": 15, "2021": 39, "2022": 41}, "ref_citations": {"2020":
        13, "2021": 31, "2022": 26}, "reads": {"2020": 359, "2021": 234, "2022": 95},
        "downloads": {"2020": 187, "2021": 117, "2022": 54}}}

        '
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '77054'
      X-RateLimit-Limit:
      - '1000'
      X-RateLimit-Remaining:
      - '978'
      X-RateLimit-Reset:
      - '1659565366'
    status:
      code: 200
      message: OK
version: 1
