interactions:
- request:
    body: '{"bibcodes": ["2020ApJ...902L..36F", "2020zndo...3678482F"], "types": ["timeseries"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//metrics
  response:
    body:
      string: '{"skipped bibcodes": [], "time series": {"i10": {"2020": 1, "2021":
        1, "2022": 1, "2023": 1}, "i100": {"2020": 0, "2021": 0, "2022": 1, "2023":
        1}, "h": {"2020": 2, "2021": 2, "2022": 2, "2023": 2}, "g": {"2020": 2, "2021":
        2, "2022": 2, "2023": 2}, "read10": {"2020": 80.8, "2021": 54.8, "2022": 41.2,
        "2023": 34.35294117647059}, "tori": {"2020": 0.09568823272, "2021": 0.16005931686,
        "2022": 0.30677334048000005, "2023": 0.31054459788000005}}}

        '
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '86396'
      X-RateLimit-Limit:
      - '1000'
      X-RateLimit-Remaining:
      - '994'
      X-RateLimit-Reset:
      - '1674051436'
    status:
      code: 200
      message: OK
version: 1
