interactions:
- request:
    body: '{"bibcode": ["2020ApJ...902L..36F"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//export/refworks
  response:
    body:
      string: '{"msg": "Retrieved 1 abstracts, starting with number 1.", "export":
        "RT Journal\nT1 Constraints from Gravitational-wave Detections of Binary Black
        Hole Mergers on the <SUP>12</SUP>C(\u03b1, \u03b3)<SUP>16</SUP>O Rate\nA1
        Farmer, R.\nA1 Renzo, M.\nA1 de Mink, S. E.\nA1 Fishbach, M.\nA1 Justham,
        S.\nAD AA(University of Amsterdam, Anton Pannekoek Institute for Astronomy;
        Harvard Smithsonian Center for Astrophysics), AB(Center for Computational
        Astrophysics, Flatiron Institute, New York), AC(University of Amsterdam, Anton
        Pannekoek Institute for Astronomy; Harvard Smithsonian Center for Astrophysics),
        AD(University of Ch[...]
