interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//search/query?q=%5Efarmer%2Cr+year%3A1600&fl=abstract%2Cauthor%2Cbibcode%2Cpubdate%2Ctitle%2Cpub%2Cyear%2Ccitation_count&fq=&start=0&rows=50
  response:
    body:
      string: "{\n  \"responseHeader\":{\n    \"status\":0,\n    \"QTime\":108,\n
        \   \"params\":{\n      \"q\":\"^farmer,r year:1600\",\n      \"fl\":\"abstract,author,bibcode,pubdate,title,pub,year,citation_count\",\n
        \     \"start\":\"0\",\n      \"internal_logging_params\":\"X-Amzn-Trace-Id=Root=1-63c6adac-680d255118188d2205a5b33e\",\n
        \     \"fq\":\"\",\n      \"rows\":\"50\",\n      \"wt\":\"json\"}},\n  \"response\":{\"numFound\":0,\"start\":0,\"docs\":[]\n
        \ }}\n"
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '85389'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4833'
      X-RateLimit-Reset:
      - '1674050362'
    status:
      code: 200
      message: OK
version: 1
