interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//search/query?q=%5Efarmer%2Cr+year%3A2020&fl=page%2Cvolume&fq=&start=0&rows=50
  response:
    body:
      string: "{\n  \"responseHeader\":{\n    \"status\":0,\n    \"QTime\":10,\n    \"params\":{\n
        \     \"q\":\"^farmer,r year:2020\",\n      \"fl\":\"page,volume\",\n      \"start\":\"0\",\n
        \     \"internal_logging_params\":\"X-Amzn-Trace-Id=Root=1-63c6adab-44de318c0a05384f33866e72\",\n
        \     \"fq\":\"\",\n      \"rows\":\"50\",\n      \"wt\":\"json\"}},\n  \"response\":{\"numFound\":2,\"start\":0,\"docs\":[\n
        \     {\n        \"page\":[\"L36\"],\n        \"volume\":\"902\"},\n      {}]\n
        \ }}\n"
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '85390'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4834'
      X-RateLimit-Reset:
      - '1674050362'
    status:
      code: 200
      message: OK
version: 1
