interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//search/query?q=identifier%3A2018araa.book.....P&fl=abstract%2Cauthor%2Cbibcode%2Cpubdate%2Ctitle%2Cpub%2Cyear%2Ccitation_count&fq=&start=0&rows=1
  response:
    body:
      string: "{\n  \"responseHeader\":{\n    \"status\":0,\n    \"QTime\":3,\n    \"params\":{\n
        \     \"q\":\"identifier:2018araa.book.....P\",\n      \"fl\":\"abstract,author,bibcode,pubdate,title,pub,year,citation_count\",\n
        \     \"start\":\"0\",\n      \"internal_logging_params\":\"X-Amzn-Trace-Id=Root=1-63c6ae2b-114acc98169c25d229327f57\",\n
        \     \"fq\":\"\",\n      \"rows\":\"1\",\n      \"wt\":\"json\"}},\n  \"response\":{\"numFound\":1,\"start\":0,\"docs\":[\n
        \     {\n        \"bibcode\":\"2018araa.book.....P\",\n        \"abstract\":\"Computational
        astrophysics is a new and quickly growing discipline. In this book the authors
        outline the fundamentals for computational astrophysics, focusing on the use
        of the Astronomical Multipurpose Software Environment (AMUSE), which is a
        general-purpose simulation environment in astrophysics written in Python.
        AMUSE allows you to combine existing solvers to build new applications that
        can be combined again to study gradually more complex situations. This enables
        the growth of multi-physics and multi-scale application software in a hierarchical
        fashion, testing each intermediate step as the complexity of the software
        continues to increase. All examples in the book are associated with codes
        that run on a simple laptop or workstation. All figures are reproducible with
        a simple script, and all scripts are available online to be downloaded and
        run accordingly.\",\n        \"author\":[\"Portegies Zwart, Simon\",\n          \"McMillan,
        Steve\"],\n        \"pub\":\"Astrophysical Recipes; The art of AMUSE\",\n
        \       \"pubdate\":\"2018-12-00\",\n        \"title\":[\"Astrophysical Recipes;
        The art of AMUSE\"],\n        \"year\":\"2018\",\n        \"citation_count\":58}]\n
        \ }}\n"
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '85261'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4732'
      X-RateLimit-Reset:
      - '1674050361'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//search/query?q=references%282018araa.book.....P%29&fl=abstract%2Cauthor%2Cbibcode%2Cpubdate%2Ctitle%2Cpub%2Cyear%2Ccitation_count&fq=&start=0&rows=50
  response:
    body:
      string: "{\n  \"responseHeader\":{\n    \"status\":0,\n    \"QTime\":169,\n
        \   \"params\":{\n      \"q\":\"references(2018araa.book.....P)\",\n      \"fl\":\"abstract,author,bibco[...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//search/query?q=references%282018araa.book.....P%29&fl=abstract%2Cauthor%2Cbibcode%2Cpubdate%2Ctitle%2Cpub%2Cyear%2Ccitation_count&fq=&start=49&rows=50
  response:
    body:
      string: "{\n  \"responseHeader\":{\n    \"status\":0,\n    \"QTime\":116,\n
        \   \"params\":{\n      \"q\":\"references(2018araa.book.....P)\",\n      \"fl\":\"abstract,author,bibcode,pubdate,title,pub,year,citation_count\",\n
        \     \"start\":\"49\",\n      \"internal_logging_params\":\"X-Amzn-Trace-Id=Root=1-63c6ae2d-1a6db77e0690e3cd7e4b0039\",\n
        \     \"fq\":\"\",\n      \"rows\":\"50\",\n      \"wt\":\"json\"}},\n  \"response\":{\"numFound\":2906,\"start\":49,\"docs\":[\n
        \     {\n        \"bibcode\":\"2013A&A...550A..89D\",\n        \"abstract\":\"Context.
        XSS J1227.0-4859 is a peculiar, hard X-ray source recently positionally associated
        to the Fermi-LAT source 1FGL J1227.9-4852/2FGL J1227.7-4853. Multi-wavelength
        observations have added information on this source, indicating a low-luminosity
        low-mass X-ray binary (LMXB), but its nature is still unclear. <BR /> Aims:
        To progress in our understanding, we present new X-ray data from a monitoring
        campaign performed in 2011 with the XMM-Newton, RXTE, and Swift satellites
        and combine them with new gamma-ray data from the Fermi and AGILE satellites.
        We complement the study with simultaneous near-UV photometry from XMM-Newton
        and with previous UV/optical and near-IR data. <BR /> Methods: We analysed
        the temporal characteristics in the X-rays, near-UV, and gamma rays and studied
        the broad-band spectral energy distribution from radio to gamma rays. <BR
        /> Results: The X-ray history of XSS J1227 over 7 yr shows a persistent and
        rather stable low-luminosity (6 \xD7 10<SUP>33</SUP> d<SUB>1 kpc</SUB><SUP>2</SUP>
        erg s<SUP>-1</SUP>) source, with flares and dips being peculiar and permanent
        characteristics. The associated Fermi-LAT source 2FGL J1227.7-4853 is also
        stable over an overlapping period of 4.7 yr. Searches for X-ray fast pulsations
        down to msec give upper limits to pulse fractional amplitudes of 15-25% that
        do not rule out a fast spinning pulsar. The combined UV/optical/near-IR spectrum
        reveals a hot component at ~13 kK and[...]
[...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//search/query?q=identifier%3A2013A%26A...557A..84P&fl=abstract%2Cauthor%2Cbibcode%2Cpubdate%2Ctitle%2Cpub%2Cyear%2Ccitation_count&fq=&start=0&rows=1
  response:
    body:
      string: "{\n  \"responseHeader\":{\n    \"status\":0,\n    \"QTime\":3,\n    \"params\":{\n
        \     \"q\":\"identifier:2013A&A...557A..84P\",\n      \"fl\":\"abstract,author,bibcode,pu[...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//search/query?q=references%282013A%26A...557A..84P%29&fl=abstract%2Cauthor%2Cbibcode%2Cpubdate%2Ctitle%2Cpub%2Cyear%2Ccitation_count&fq=&start=0&rows=50
  response:
    body:
      string: "{\n  \"responseHeader\":{\n    \"status\":0,\n    \"QTime\":120,\n
        \   \"params\":{\n      \"q\":\"references(2013A&A...557A..84P)\",\n      \"fl\":\"abstract,author,bib[...]
