interactions:
- request:
    body: '{"q": "^farmer year:2020", "fl": "bibcode,title", "start": 0, "rows": 200,
      "sort": "citation_count", "fq": "{!bitset}"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//vault/query
  response:
    body:
      string: '{"qid": "a3312b76101f29d62355db0562e9dbb0", "numFound": 0}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '83844'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4779'
      X-RateLimit-Reset:
      - '1669629755'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//vault/query/a3312b76101f29d62355db0562e9dbb0
  response:
    body:
      string: '{"qid": "a3312b76101f29d62355db0562e9dbb0", "query": "{\"query\": \"fq=%7B%21bitset%7D&q=%5Efarmer+year%3A2020&sort=citation_count\",
        \"bigquery\": \"\"}", "numfound": 0}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '83843'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4778'
      X-RateLimit-Reset:
      - '1669629754'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//vault/query2svg/a3312b76101f29d62355db0562e9dbb0
  response:
    body:
      string: '

        <svg xmlns="http://www.w3.org/2000/svg" width="99" height="20">

        <linearGradient id="b" x2="0" y2="100%"><stop offset="0" stop-color="#bbb"
        stop-opacity=".1"/><stop offset="1" stop-opacity=".1"/></linearGradient>

        <mask id="a"><rect width="99" height="20" rx="3" fill="#fff"/></mask>

        <g mask="url(#a)"><path fill="#555" d="M0 0h63v20H0z"/><path fill="#a4a61d"
        d="M63 0h36v20H63z"/><path fill="url(#b)" d="M0 0h99v20H0z"/></g>

        <g fill="#fff" text-anchor="middle" font-family="DejaVu Sans,Verdana,Geneva,sans-serif"
        font-size="11">

        <text x="32.5" y="15" fill="#010101" fill-opacity=".3">ADS query</text><text
        x="32.5" y="14">ADS query</text>

        <text x="80" y="15" fill="#010101" fill-opacity=".3">0</text><text x="80"
        y="14">0</text></g></svg>

        '
    headers:
      Content-Type:
      - image/svg+xml
      Retry-After:
      - '83843'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4777'
      X-RateLimit-Reset:
      - '1669629755'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//vault/execute_query/a3312b76101f29d62355db0562e9dbb0
  response:
    body:
      string: "{\n  \"responseHeader\":{\n    \"status\":0,\n    \"QTime\":10,\n    \"params\":{\n
        \     \"q\":\"^farmer year:2020\",\n      \"fl\":\"id\",\n      \"start\":\"0\",\n
        \     \"internal_logging_params\":\"X-Amzn-Trace-Id=Root=1-63833fb7-02758fee00a142a635bd933f\",\n
        \     \"fq\":\"{!bitset}\",\n      \"sort\":\"\",\n      \"rows\":\"10\",\n
        \     \"wt\":\"json\"}},\n  \"response\":{\"numFound\":0,\"start\":0,\"docs\":[]\n
        \ }}\n"
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '83842'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4775'
      X-RateLimit-Reset:
      - '1669629754'
    status:
      code: 200
      message: OK
version: 1
