interactions:
- request:
    body: '{"bibcode": ["2020ApJ...902L..36F"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//export/dcxml
  response:
    body:
      string: '{"msg": "Retrieved 1 abstracts, starting with number 1.", "export":
        "<?xml version=''1.0'' encoding=''utf8''?>\n<records xmlns=\"http://ads.harvard.edu/schema/abs/1.1/dc\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        xsi:schemaLocation=\"http://ads.harvard.edu/schema/abs/1.1/dc http://ads.harvard.edu/schema/abs/1.1/dc.xsd\"
        retrieved=\"1\" start=\"1\" selected=\"1\" citations=\"99\">\n<record>\n<dc:identifier>2020ApJ...902L..36F</dc:identifier>\n<dc:title>Constraints
        from Gravitational-wave Detections of Binary Black Hole Mergers on the &lt;SUP&gt;12&lt;/SUP&gt;C(\u03b1,
        \u03b3)&lt;SUP&gt;16&lt;/SUP&gt;O Rate</dc:title>\n<dc:creator>Farmer, R.</dc:creator>\n<dc:creator>Renzo,
        M.</dc:creator>\n<dc:creator>de Mink, S. E.</dc:creator>\n<dc:creator>Fishbach,
        M.</dc:creator>\n<dc:creator>Justham, S.</dc:creator>\n<dc:source>The Astrophysical
        Journal Letters, Volume 902, Issue 2, id.L36, 14 pp.</dc:source>\n<dc:date>2020-10-01</dc:date>\n<dc:subject>Stellar
        evolution, Supernovae, Core-collapse supernovae, Nuclear astrophysics, Stellar
        mass black holes, Astrophysical black holes, Massive stars, Late stellar evolution,
        1599, 1668, 304, 1129, 1611, 98, 732, 911, Astrophysics - High Energy Astrophysical
        Phenomena</dc:subject>\n<dc:relation>https://ui.adsabs.harvard.edu/abs/2020ApJ...902L..36F</dc:relation>\n<dc:relation>citations:99</dc:relation>\n<dc:description>Gravitational-wave
        detections are starting to allow us to probe the physical processes in the
        evolution of very massive stars through the imprints they leave on their final
        remnants. Stellar evolution theory predicts the existence of a gap in the
        black hole mass distribution at high mass due to the effects of pair instability.
        Previously, we showed that the location of the gap is robust against model
        uncertainties, but it does depend sensitively on[...]
