interactions:
- request:
    body: '{"source": "SIMBAD", "objects": ["M31"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//objects
  response:
    body:
      string: '{"M31": {"canonical": "M  31", "id": "1575544"}}

        '
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '72855'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4841'
      X-RateLimit-Reset:
      - '1669456398'
    status:
      code: 200
      message: OK
version: 1
