interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//biblib/libraries/qf-C6Zi-Tyad2vqJPS-I4g/?start=0
  response:
    body:
      string: '{"documents": ["2021A&A...656A..58L", "2021MNRAS.507..385H", "2020ApJ...902L..36F",
        "2020A&A...640A..56R", "2020ApJ...897..100V", "2020A&A...637A...6L", "2020yCat..36370006L",
        "2020MNRAS.493.4333R", "2020ApJ...893..133F", "2020ApJ...891....5S", "2020zndo...3678482F",
        "2019ApJ...887...53F", "2019A&A...631A...5Z", "2019ApJ...882...36M", "2019ApJS..243...10P",
        "2019A&A...624A..66R", "2019yCat..36240066R", "2018ApJS..234...34P", "2018ApJS..234...19F",
        "2017ApJ...851....6P"], "solr": {"responseHeader": {"status": 0, "QTime":
        1, "params": {"q": "*:*", "fl": "bibcode,alternate_bibcode", "start": "0",
        "internal_logging_params": "X-Amzn-Trace-Id=Root=1-623f3424-6130e3e7463112095b5717f4",
        "fq": "{!bitset}", "sort": "date desc", "rows": "20", "wt": "json"}}, "response":
        {"numFound": 38, "start": 0, "docs": [{"bibcode": "2021A&A...656A..58L", "alternate_bibcode":
        ["2021arXiv210205036L"]}, {"bibcode": "2021MNRAS.507..385H", "alternate_bibcode":
        ["2021arXiv210711480H", "2021MNRAS.tmp.1922H"]}, {"bibcode": "2020ApJ...902L..36F",
        "alternate_bibcode": ["2020arXiv200606678F"]}, {"bibcode": "2020A&A...640A..56R",
        "alternate_bibcode": ["2020arXiv200205077R"]}, {"bibcode": "2020ApJ...897..100V",
        "alternate_bibcode": ["2020arXiv200405187V"]}, {"bibcode": "2020A&A...637A...6L",
        "alternate_bibcode": ["2020arXiv2003011[...]
[...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//biblib/libraries/qf-C6Zi-Tyad2vqJPS-I4g/?start=38
  response:
    body:
      string: '{"documents": [], "solr": {"responseHeader": {"status": 0, "QTime":
        1, "params": {"q": "*:*", "fl": "bibcode,alternate_bibcode", "start": "38",
        "internal_logging_params": "X-Amzn-Trace-Id=Root=1-623f3425-594935b40678afe930aac9e4",
        "fq": "{!bitset}", "sort": "date desc", "rows": "20", "wt": "json"}}, "response":
        {"numFound": 38, "start": 38, "docs": []}}, "metadata": {"name": "Untitled
        Library 1", "id": "qf-C6Zi-Tyad2vqJPS-I4g", "description": "My ADS library",
        "num_documents": 52, "date_created": "2021-04-02T13:17:09.757542", "date_last_modified":
        "2022-03-26T15:03:18.448052", "permission": "owner", "public": false, "num_users":
        1, "owner": "robert.j.farmer37"}, "updates": {"num_updated": 0, "duplicates_removed":
        0, "update_list": []}}

        '
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '84098'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4947'
      X-RateLimit-Reset:
      - '1648393385'
    status:
      code: 200
      message: OK
- request:
    body: '{"action": "add", "bibcode": ["2021ApJ...923..214F"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//biblib/documents/qf-C6Zi-Tyad2vqJPS-I4g
  response:
    body:
      string: '{"number_added": 1}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"action": "remove", "bibcode": ["2021ApJ...923..214F"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//biblib/documents/qf-C6Zi-Tyad2vqJPS-I4g
  response:
    body:
      string: '{"number_removed": 1}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//biblib/libraries/qf-C6Zi-Tyad2vqJPS-I4g/?start=38
  response:
    body:
      string: '{"documents": [], "solr": {"responseHeader": {"status": 0, "QTime":
        1, "params": {"q": "*:*", "fl": "bibcode,alternate_bibcode", "start": "38",
        "internal_logging_params": "X-Amzn-Trace-Id=Root=1-623f342b-56fbf9f7657dd088474b3117",
        "fq": "{!bitset}", "sort": "date desc", "rows": "20", "wt": "json"}}, "response":
        {"numFound": 38, "start": 38, "docs": []}}, "metadata": {"name": "Untitled
        Library 1", "id": "qf-C6Zi-Tyad2vqJPS-I4g", "description": "My ADS library",
        "num_documents": 52, "date_created": "2021-04-02T13:17:09.757542", "date_last_modified":
        "2022-03-26T15:41:29.370754", "permission": "owner", "public": false, "num_users":
        1, "owner": "robert.j.farmer37"}, "updates": {"num_updated": 0, "duplicates_removed":
        0, "update_list": []}}

        '
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '84092'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4941'
      X-RateLimit-Reset:
      - '1648393384'
    status:
      code: 200
      message: OK
version: 1
