interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.adsabs.harvard.edu/v1//search/query/?q=%5Efarmer,r%20year:1600&fl=abstract,author,bibcode,pubdate,title,pub&fq=&start=0
  response:
    body:
      string: "{\n  \"responseHeader\":{\n    \"status\":0,\n    \"QTime\":83,\n    \"params\":{\n
        \     \"q\":\"^farmer,r year:1600\",\n      \"fl\":\"abstract,author,bibcode,pubdate,title,pub\",\n
        \     \"start\":\"0\",\n      \"internal_logging_params\":\"X-Amzn-Trace-Id=Root=1-623f341d-3e451ebb154ae818248c6396\",\n
        \     \"fq\":\"\",\n      \"rows\":\"10\",\n      \"wt\":\"json\"}},\n  \"response\":{\"numFound\":0,\"start\":0,\"docs\":[]\n
        \ }}\n"
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '84107'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4959'
      X-RateLimit-Reset:
      - '1648393385'
    status:
      code: 200
      message: OK
version: 1
