interactions:
- request:
    body: '{"bibcode": ["2020ApJ...902L..36F", "2020zndo...3678482F"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//export/medlars
  response:
    body:
      string: '{"msg": "Retrieved 2 abstracts, starting with number 1.", "export":
        "PT  - Journal Article\nTI  - Constraints from Gravitational-wave Detections
        of Binary Black Hole Mergers on the <SUP>12</SUP>C(\u03b1, \u03b3)<SUP>16</SUP>O
        Rate\nAU  - Farmer, R.\nAU  - Renzo, M.\nAU  - de Mink, S. E.\nAU  - Fishbach,
        M.\nAU  - Justham, S.\nAD  - AA(University of Amsterdam, Anton Pannekoek Institute
        for Astronomy; Harvard Smithsonian Center for Astrophysics), AB(Center for
        Computational Astrophysics, Flatiron Institute, New York), AC(University of
        Amsterdam, Anton Pannekoek Institute for Astronomy; Harvard Smithsonian Center
        for Astrophysics), A[...]
