interactions:
- request:
    body: '{"bibcodes": ["2020ApJ...902L..36F", "2020zndo...3678482F"], "types": ["indicators"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.adsabs.harvard.edu/v1//metrics
  response:
    body:
      string: '{"skipped bibcodes": [], "indicators": {"h": 2, "g": 2, "i10": 1, "i100":
        1, "m": 0.6666666666666666, "read10": 40.13897280966767, "tori": 0.29436991726000006,
        "riq": 542}, "indicators refereed": {"h": 1, "g": 1, "i10": 1, "i100": 1,
        "m": 0.3333333333333333, "read10": 36.83081570996979, "tori": 0.25737900626,
        "riq": 507}}

        '
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '85454'
      X-RateLimit-Limit:
      - '1000'
      X-RateLimit-Remaining:
      - '980'
      X-RateLimit-Reset:
      - '1669631341'
    status:
      code: 200
      message: OK
version: 1
